{{#if layer.active_in_project}}
	<a class="btn rotate btn-added btn-fab btn-sm" {{action "removeLayer" layer }}><i class="material-icons">clear</i></a>
{{else}}
	<a class="btn rotate btn-add btn-fab btn-sm" {{action "addLayer" layer="layer"}}><i class="material-icons">add</i></a>
{{/if}}
