{{#if layer.active_in_project}}
	<a class="btn rotate btn-added btn-fab btn-sm" {{action "removeLayer" layer }}><span class="mdi-content-clear"></span></a>
{{else}}
	<a class="btn rotate btn-add btn-fab btn-sm" {{action "addLayer" layer="layer"}}><span class="mdi-content-add"></span></a>
{{/if}}