{{yield}}
{{#link-to 'projects' tagName='a' class="back-link" title="Back to All Projects"}}
	<span class="mdi-navigation-chevron-left back-button"></span>
{{/link-to}}
<div id='map'>
</div>
<div class="base-layer-controls"></div>
