{{#link-to 'projects' tagName='a' class="back-link" title="Back to All Projects"}}
	<span class="back-button"><i class="material-icons">chevron_left</i></span>
{{/link-to}}
<div id='map'>
</div>
<div class="base-layer-controls"></div>
