{{!-- <h5>Institutions:</h5> --}}
<div class='remove-institutions'>
  {{#each browseParams.institutions as |institution|}}
    <span class='z-depth-1 remove-institution-button'>
      <i class="fa fa-times" aria-hidden="true" onclick={{action 'removeInstitution' institution}}></i> {{institution}}</span>
  {{/each}}
</div>
{{!aupac-ember-data-typeahead modelClass='institution' placeholder='Search Providers' action='checkInstitution'}}
{{#power-select
  placeholder='Select Provider'
  searchField='name'
  options=model
  allowClear=true
  closeOnSelect=false
  onfocus=focus
  onchange=(action 'checkInstitution') as |institution|}}
{{institution.name}}
{{/power-select}}
