<div class="row">
  <div class="input-field col s9">
    <input id="icon_prefix" type="text" class="validate" value={{searchTerms}}>
    <label for="icon_prefix">Search</label>
  </div>
  <div class='col s3 search-button'>
    {{md-btn-submit icon='mdi-content-send'
      iconPosition='right'
      text='Go'
      action='textSearch'
    }}
  </div>
</div>
