{{yield}}
<section class="browse-by-years browse-form">
    <h2>Years:</h2>
    <div class="year-slider">
        <div id="range"></div>
        <div class="row">
            <div class="col-md-6">
                {{input type='text' value=model.min_year class='form-control' id='start_year' placeholder='Start Year'}}
            </div>
            <div class="col-md-6">
                {{input type='text' value=model.max_year class='form-control' id='end_year' placeholder='End Year'}}
            </div>
        </div>
    </div>
</section>
