{{yield}}
{{log colors}}
{{#each-in colors as |colorClass hex|}}
    {{!dataColors.shapeColors[0]}}
    <div style="background-color: {{hex}}; height: 40px;" class="col-md-4" onclick={{action "setColor" colorClass hex layer}}></div>
{{/each-in}}
