{{yield}}
<div class="row">
    <div class='col-sm-12'>Pick a color (click to save).</div>
</div>
<div>
    {{#each colors as |color index|}}
        <div style= {{bgcolor color.hex}} class="col-xs-2 color" onmouseenter= {{action "previewColor" color layer index}} onclick= {{action "setColor" layer}}></div>
    {{/each}}
</div>
