<div class="togglebutton opacity">
	<label>
		<input id="toggle-layer-opacity" type="checkbox" checked="checked"/>
			<span class="toggle"></span>
			<span id="show-hide-layers" class="toggle_label"></span>
	</label>
</div>
