<div class="col-md-8">
	<h6>Provided by:</h6>
	<h4>{{layer.institution.name}}</h4>
</div>
<div class="col-md-4">
	<img src='{{layer.institution.icon}}' alt='Logo' class="institution_logo pull-right" />
</div>
