{{!-- <div class='container'> --}}
  <div class='row'>
    <div class='col l6 s12'>
	     <h6 class='cite-h6'>Provided by:</h6>
	     <h5 class='citeh5'>{{layer.institution.name}}</h5>
     </div>
     <div class='col l4 offset-l2 s12'>
       <img src='{{layer.institution.icon}}' alt='Logo' class="institution-logo right" />
     </div>
   </div>
 {{!-- </div> --}}
