<footer>
	<section class="row">
		<section class="col-xs-8">
			<h5>Provided by:</h5>
			<h6>{{layer.institution.name}}</h6>
		</section>
		<section class="col-xs-4">
			<img src='{{layer.institution.icon}}' alt='Logo' class="institution_logo pull-right" />
		</section>
	</section>
</footer>
