{{yield}}
<div class="navbar main-navbar">
    <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button> -->
        {{#link-to 'index' tagName='a' class='site-title navbar-brand' }}
            <img class="logo" src="/assets/images/am-logo3.png" /><span class="alt-dark">ATL</span><span>Maps</span>
        {{/link-to}}
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            <li>
                {{#link-to 'projects' tagName='a' }}Projects{{/link-to}}
            </li>
            <li>
                {{#link-to 'about' tagName='a' }}About{{/link-to}}
            </li>
            <!--             <li>{{#link-to 'support' tagName='a'}}Help{{/link-to}}</li>
        <li>{{#link-to 'terms' tagName='a'}}Terms of Use{{/link-to}}</li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">

        </ul>
    </div>
</div>
