{{yield}}
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 footer-row">
        <div class="app-name">ATLMaps 1.0</div>
        <div class="app-copyrights">licensed under <a href="https://opensource.org/licenses/MIT">MIT License</a> and <a href="https://creativecommons.org">Creative Commons</a></div>
        <div class="app-copyrights">contributions from Kennesaw State University, Georgia State University, and WABE</div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 footer-logo-container footer-row">
        <img src="assets/images/emory_logo.png" class="footer-logo"/>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 footer-row">
        <div class="app-copyrights">Robert W. Woodruff Library</div>
        <div class="app-copyrights">540 Asbury Cir</div>
        <div class="app-copyrights">Atlanta, GA 30322</div>
      </div>
    </div>
  </div>
</footer>
