<div class='navbar-fixed'>
  <nav>
    <div class="nav-wrapper">
      {{!-- <a href="#" class="brand-logo right">Logo</a> --}}
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        {{#link-to 'index' tagName='li' }}{{link-to 'ATLMaps' 'index'}}{{/link-to}}
        {{#link-to 'projects' tagName='li' }}{{link-to 'Projects' 'projects'}}{{/link-to}}
        {{#link-to 'about' tagName='li' }}{{link-to 'About' 'about'}}{{/link-to}}
      </ul>
    </div>
  </nav>
</div>
