{{#link-to 'project' project.id}}
    {{#if project.photo}}
        <div class="card-image">
            <img src={{project.photo}} alt="">
        </div>
    {{/if}}
    <div class="card-header">
        <h1>{{project.name}}</h1> By: {{project.owner}}
    </div>
    <div class="card-copy">
        <p>{{project.description}}</p>
    </div>
{{/link-to}}
