{{#link-to  'project' model.id class='flex-box flex-box'}}
  {{!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt=""> --}}
  <h1 class="flex-title">{{model.name}}</h1>
  <p>{{model.description}}</p>
{{/link-to}}
