{{#if model.project.may_edit}}
  <a class='secondary-conent {{layer.data_format}}' onclick={{action (route-action 'addRemoveLayer' layer) preventDefault=true}}>
    <i class="fa fa-trash" aria-hidden="true"></i>
  </a>
{{/if}}
