{{#if (and model.project.may_edit model.project.editing)}}
  <a class='remove-layer secondary-conent' onclick={{action (route-action 'addRemoveLayer' layer) preventDefault=true}}>
    <i class="fa fa-trash" aria-hidden="true"></i>
  </a>
{{/if}}
