<a {{action 'searchBounds'}} class={{if hasBounds 'has-bounds'}}>
  {{#if hasBounds}}
    <i class="material-icons">my_location</i>
    Searching viewable area
  {{else}}
    <i class="material-icons">location_disabled</i>
    Searching all areas
  {{/if}}
</a>
