<a {{action 'searchBounds'}}>
  {{#if hasBounds}}
    <i class="material-icons">location_searching</i>
    Search all areas.
  {{else}}
    <i class="material-icons">location_disabled</i>
    Search viewable ara.
  {{/if}}
</a>
