<a {{action 'setBase' 'street'}} title="Open Street Map" class="btn btn-default base-preview street"></a>

<a {{action 'setBase' 'satellite'}} title="Satellite" class="btn btn-default base-preview satellite"></a>