<span class='set-center'>
  <label>Latitude:</label>
  {{input value=project.center_lat name='lat' type='number' step='0.001' change=(action 'updateCenter')}}
</span>

<span class='set-center'>
  <label>Longitude:</label>
  {{input value=project.center_lng name='lng' type='number' step='0.001' change=(action 'updateCenter')}}
</span>

<span class='set-zoom'>
  <label>Zoom:</label><br />
  {{#power-select options=zoomLevels searchEnabled=false selected=project.zoom_level onchange=(action 'updateZoomLevel') as |level|}}
    {{level}}
  {{/power-select}}
</span>
<span class='neat-row'>
  <button onclick={{action 'saveCenterZoom'}}>Save Center/Zoom</button>
</span>
