{{!
    The `shareable-link` class has `display: none;` When the layer title div is
    clicked, it gets a class of `active`. When that div has the class of `active`
    `shareable-link` class is set to `display: block`
}}
<a {{action "toggleShareableLink"}} class='secondary-conent {{layer.data_format}}' title='Get shareable link'><i class="fa fa-link" aria-hidden="true"></i></a>
{{#if isShowingModal}}


    {{#tether-dialog close='toggleShareableLink' container-class='shareable-link-modal' hasOverlay=false target='' clickOutsideToClose=true }}
        <a {{action 'toggleShareableLink'}} class='close-button right'>
            <i class="material-icons">highlight_off</i>
        </a>
        <p>
            {{!exampleTargetAttachment}} {{input type='text' value=layer.absolute_url id=layer.shareable_link_id}}
        </p>
        {{!#if layer.shareable-link}}
        {{#copy-button clipboardTarget=layer.shareable_link_id_selector success=(action 'success') error=(action 'error') class='waves-effect waves-light btn' }}
            copy link <i class="material-icons">content_copy</i>
        {{/copy-button}}
        {{!/if}}
    {{/tether-dialog}}
{{/if}}
