<div class=" modal-dialog">
	<div class="modal-content">
		<div class="row vector-header drag-handle">
			<div class="marker-title col-md-10"></div>
			<div class="close-vector col-md-2">
				<a {{action "close"}} class="pull-right close-button"><i class="material-icons">highlight_off</i></a>
			</div>
		</div>
		<div class="marker-content modal-body drag-handle"></div>
        <div class="vector-info-footer">
            <!-- <i class="material-icons pull-right" style="transform: rotate(45deg)">keyboard_backspace</i> -->
        </div>
	</div>
</div>
