<div class="marker-data draggable modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!-- <a {{action 'hideIntro'}} class="pull-right close-button"><i class="material-icons">highlight_off</i></a> -->
				<a {{action "close"}} class="pull-right close-button"><i class="material-icons">highlight_off</i></a>
			</div>
			<div class="marker-content modal-body"></div>
		</div>
	</div>
</div>
