<div class='vector-detail-title z-depth-1 drag-handle'>
  <div class='layer-icon vector-content'>
    {{! Colored icon gets injected here. }}
  </div>

  <div class='vector-detail-title-container'>
      <div class='layer-title'>
        {{! Layer title gets injected here. }}
    </div>
      <div class='feature-title'>
        {{! Layer title from geoJSON gets injected here. }}
      </div>
  </div>
  <div class='vector-detail-close'>
    <a {{action 'close'}}>
      <i class='material-icons close-button right'>highlight_off</i>
    </a>
  </div>
</div>

<div class='vector-detail-container'>

  <div class='pane-content'>
    <div class='row swiper-container'>
      <div class='swiper-wrapper'>
        {{! Inject gallery}}
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div class='vector-content marker-content col-md-12'></div>
    <div class='dump' />
  </div>
</div>
