<div class='vector-detail-title row z-depth-1'>
  <div class='col s1'>
    <div class='layer-icon vector-content col s1'>
      {{! Colored icon gets injected here. }}
    </div>
  </div>
  <div class='col s9'>
    <div class='row'>
      <div class='col s12 vector-content layer-title'>
        {{! Layer title gets injected here. }}
      </div>
    </div>
    <div class='row'>
      <div class='title vector-content col s12'>
        {{! Layer title from geoJSON gets injected here. }}
      </div>
    </div>
  </div>
  <div class='col s2'>
    <a {{action 'close'}}>
      <i class='material-icons close-button right'>highlight_off</i>
    </a>
  </div>
</div>
<div class='vector-detail-container'>
    <div class='pane-content'>
      <div class='vector-content marker-content col-md-12'></div>
    </div>
</div>
