<div class="marker-data draggable modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a {{action "close"}} class="btn btn-default btn-xs"><i class="material-icons">close</i></a>
			</div>
			<div class="marker-content modal-body"></div>
		</div>
	</div>
</div>
