{{!#ember-wormhole to="ember-basic-dropdown-wormhole"}}

<!-- <div class=" modal-dialog">
	<div class="modal-content">
		<div class="row vector-header drag-handle">
			<div class="marker-title col-md-10"></div>
			<div class="close-vector col-md-2">
				<a {{!action "close"}} class="pull-right close-button"><i class="material-icons">highlight_off</i></a>
			</div>
		</div>
		<div class="marker-content modal-body drag-handle"></div>
        <div class="vector-info-footer">
            <i class="material-icons pull-right" style="transform: rotate(45deg)">keyboard_backspace</i>
        </div>
	</div>
</div> -->
{{!/ember-wormhole}}


<div class="resize-container vector-info">
    <!-- <div style="width:100%;height:10em;background-color:red"></div> -->
    <div class="resize-drag">
        <div class="vector-info-head row">
            <div class="layer-icon vector-content col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="vector-content layer-title col-md-12"></div>
                </div>
                <div class="row">
                    <div class="title vector-content col-md-12"></div>
                </div>
            </div>
            <div class="col-md-1">
                <a {{action "close"}} class="pull-right close-button"><i class="material-icons">highlight_off</i></a>
            </div>
        </div>
    <!-- </div> -->
<!-- <table class="vector-info-head style=width:100%;">
            <tr>
                <td rowspan="2"><i class="material-icons">place</i></td>
                <td class="">Layer Title</td>
                <td rowspan="2" class="close-vector">
                    <a {{!action "close"}} class="pull-right close-button"><i class="material-icons">highlight_off</i></a>
                </td>
            </tr>
            <tr>
                <td>Marker title</td>
            </tr>
        </table> -->
        <div class="row">
            <div class="vector-content marker-content col-md-12"></div>
        </div>
    </div>
</div>
