<div class="marker-data draggable modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" onClick={{action "close"}}>×</button>
			</div>
			<div class="marker-content modal-body"></div>
		</div>
	</div>
</div>
