<div class="vector-info modal-dialog">
	<div class="vector-info modal-content">
		<div class="row vector-header">
			<div class="marker-title col-md-8"></div>
			<div class="close-vector col-md-4">
				<a {{action "close"}} class="pull-right close-button"><i class="material-icons">highlight_off</i></a>
			</div>
		</div>
		<div class="marker-content modal-body"></div>
	</div>
</div>
