// TODO: There is a better way to do this right?
$roboto-font-path: '../assets/';

@import 'components/color';
@import 'variables';

// Custom color settings go here
$primary-color: color('blue-grey', 'darken-1');
$primary-color-dark: color('blue-grey', 'darken-4');
$primary-color-light: color('blue-grey', 'base');
$primary-color-trans: rgba(3, 169, 244, 1);
$secondary-color: #e24b31;
$secondary-color-light: color('deep-orange', 'accent-1');
$nav-button: color('grey', 'darken-4');

@import'components/variables',
'materialize',
'banner',
'ember-modal-structure',
'ember-modal-appearance',
'main-footer',
'marker',
'extra-icons',
'login-form',
'slider',
'layer-citation',
'vector-info',
'browse-results',
'base-picker',
'project-pane',
'project-intro',
'search-pane',
'project-nav';

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

body {
  background-color: color('grey', 'darken-4');
  color: material-color(md_grey, 600);
  font-family: 'Roboto', 'Material Icons' sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: 100vh;

  &.loading {
    background: $primary-color;

    .preloader-wrapper {
      height: 10em;
      margin: 25% 50%;
      width: 10em;
    }

    .circle {
      border-width: 2em;
    }

    .spinner-layer {
      border-color: $secondary-color;
    }

    .navbar-fixed {
      display: none;
    }

    footer {
      display: none;
    }
  }
}

a {
  cursor: pointer;
}

.card {
  .card-title {
    font-size: 1.5em;
  }
}

.content {
  height: 100vh;
}

.ember-burger-menu,
.bm-outlet,
.bm-content {
  // overflow: hidden !important;
}

.project {
  overflow: hidden;
}

.secondary-conent {
  i {
    color: color('grey', 'base');
  }
}

.fullscreen-map {
  display: block;
  height: 100vh;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: initial;
  top: 0;
  width: 100vw;
}

.atlmap {
  height: 100%;
  width: 100%;
}


.material-icons {
  font-size: 1.5em;
}

.exit {
  padding-bottom: .25em;
  transform: rotate(180deg);
}

.navbar-fixed {
  nav {
    background-color: $primary-color-dark;
  }

  .active {
    background-color: color('grey', 'darken-4');
  }
}

.project-nav {
  .active {
    background-color: $secondary-color;

    &:hover {
      background-color: color('blue-grey', 'lighten-3');
    }
  }
}

// Leaflet Controls
.leaflet-top {
  &.leaflet-right {
    top: 5em;
  }
}

.close-button {
  cursor: pointer;
  padding-top: .5em;
}

.carousel {
  &.carousel-slider {
    height: 200px;
  }
}

.bm-menu {
  background-color: $white;
  box-shadow: $shadow5;
  // The burger menu code only deals in pixels :(
  width: 34vw !important;
}

textarea {
  &.description {
    height: 8rem;
  }
}

// TODO KEEP PLAYING WITH THE COLOR!!!!!!!
// Making the switches less penis like
// .switch {
//   label {
//     .lever {
//       // background-color: color('blue-grey', 'lighten-4');
//       // height: 25px;
//       // width: 40px;
//
//       &::after {
//         // background-color: $primary-color-light;
//         // box-shadow: none;
//         // height: 23px;
//         // left: 0;
//         // top: 1px;
//         // width: 23px;
//       }
//     }
//   }
// }
//
// .switch label input[type=checkbox]:checked + .lever:after {
//   // background-color: $primary-color;
//   // left: 16px;
// }
//
// .switch label input[type=checkbox]:checked + .lever {
//     // background-color: color('blue-grey', lighten-4);
// }
