$peach: #f47404;
$primary-dark-gray: #141414;
$primary-light-gray: #546e7a;
$secondary-light-gray: #cfd8dc;
$secondary-dark-gray: #78909c;
$dark-text: #202020;
$white-text: #fff;

// UIKit overrides.
$global-primary-background: lighten($peach, 10%) !default;
$inverse-button-primary-background: $peach !default;
$global-secondary-background: $primary-light-gray !default;
$offcanvas-bar-background: #fff;
$offcanvas-bar-color-mode: "dark";
$subnav-pill-item-active-background: #fff;
$subnav-pill-item-active-color: $dark-text;
$subnav-pill-item-color: $white-text;
$button-link-color: #eee;
$navbar-background: $primary-dark-gray;
$pagination-item-color: $white-text;
$pagination-item-hover-color: $secondary-light-gray;
$button-link-hover-color: $secondary-light-gray;
$button-primary-color: #000 !default;
$article-meta-color: #2d2d2d;
$form-color: black;
// $base-selection-background: deeppink !default;

// $inverse-button-primary-hover-color: $primary-dark-gray;
$navbar-nav-item-color: $button-link-color;
$base-link-color: #0D47A1;

@import 'ember-uikit';

.uk-button:focus {
  outline-color: $primary-light-gray;
  outline-style: solid;
}

.uk-accordion-title {
  &:focus {
    outline-width: .2rem;
    outline-style: solid;
    outline-color: #39f;
  }
}

.uk-tab-left {
  a {
    text-align: center;
  }
}

.uk-panel {
  background-color: white;
}

.uk-offcanvas-bar {
  .uk-text-lead {
    color: $dark-text;
  }
}

.uk-offcanvas-bar .uk-list-divider > li:nth-child(n+2) {
  border-top-color: $dark-text;
}

.uk-navbar-nav {
  li {
    a {
      font-size: 1.25rem;

      &:hover,
      &:focus {
        background-color: lighten($primary-dark-gray, 10);
        color: white;
      }
    }
  }
}

.uk-pagination {
  a,
  span {
    color: $primary-dark-gray !important;
    font-size: 1.25rem;
  }

  .uk-active {
    span {
      color: black !important;
      font-weight: 900;
    }
  }
}

// End UIKit overrides


@import 'embeds';
@import 'atlm';
@import 'atlm-site';
@import 'mobile';
// @import 'range-input';

:root {
  font-size: 16px;
}

// input[type='range'] {
//   // overflow: hidden;
//   width: 100%;
//   -webkit-appearance: none;
//   background-color: $secondary-light-gray;
//   border-radius: 1rem;
// }

// input[type='range']::-webkit-slider-runnable-track {
//   height: .5rem;
//   -webkit-appearance: none;
//   color: $peach;
//   margin-top: -1px;
// }

// input[type='range']::-webkit-slider-thumb {
//   width: .2rem;
//   margin-top: .25rem;
//   -webkit-appearance: none;
//   height: .2rem;
//   cursor: ew-resize;
//   background: $primary-dark-gray;
//   box-shadow: -.5rem 0 0 .5rem $peach;
// }

article {
  font-size: 1rem;;
}



a.home {
  color: white;
  font-size: 2rem;
  font-weight: 600;

  img {
    height: 2.5rem;
  }
}

.testing {
  left: -1000px;
  position: absolute;
  z-index: -1;
}

// Comment out to see where markers really should be.
.leaflet-div-icon {
  background: none;
  border: none;
}

.leaflet-control-attribution {
  display: none;
}

// Fix for the scroll bar on the raster and vector panels.
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

// footer {
//   max-width: 100vw !important;
// }