$peach: #f47404;
$primary-dark-gray: #141414;
$primary-light-gray: #546e7a;
$secondary-light-gray: #cfd8dc;
$secondary-dark-gray: #78909c;
$dark-text: #202020;
$white-text: #fff;

// UIKit overrides.
$global-primary-background: $peach !default;
$global-secondary-background: $primary-light-gray !default;
$offcanvas-bar-background: #fff;
$offcanvas-bar-color-mode: "dark";
$subnav-pill-item-active-background: #fff;
$subnav-pill-item-active-color: $dark-text;
$subnav-pill-item-color: $white-text;
$button-link-color: #eee;
$navbar-background: $primary-dark-gray;
$pagination-item-color: $white-text;
$pagination-item-hover-color: $secondary-light-gray;
$button-link-hover-color: $secondary-light-gray;
$global-inverse-color: $white-text;
// $inverse-button-primary-hover-color: $primary-dark-gray;
$navbar-nav-item-color: $button-link-color;
$base-link-color: #0D47A1;

@import 'ember-uikit';

.uk-button:focus {
  outline-color: $primary-light-gray;
  outline-style: solid;
}

.uk-accordion-title {
  &:focus {
    outline-width: .2rem;
    outline-style: solid;
    outline-color: #39f;
  }
}

.uk-tab-left {
  a {
    text-align: center;
  }
}

.uk-panel {
  background-color: white;
}

.uk-offcanvas-bar {
  .uk-text-lead {
    color: $dark-text;
  }
}

.uk-offcanvas-bar .uk-list-divider > li:nth-child(n+2) {
  border-top-color: $dark-text;
}

// End UIKit overrides


@import 'data-colors';
@import 'embeds';
@import 'atlm';
@import 'mobile';

:root {
  font-size: 18px;
}


article {
  font-size: 1rem;;
}



a.home {
  color: white;
  font-size: 2rem;
  font-weight: 600;

  img {
    height: 2.5rem;
  }
}

.testing {
  left: -1000px;
  position: absolute;
  z-index: -1;
}

// Comment out to see where markers really should be.
.leaflet-div-icon {
  background: none;
  border: none;
}

.leaflet-container {
  height: calc(100vh - 80px);
  width: 100vw;
}

.leaflet-control-attribution {
  display: none;
}

// Fix for the scroll bar on the raster and vector panels.
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}