@import 'variables';

.tcon-plus {
  &::before,
  &::after {
    background-color: material-color(md_blue, 100);
    border-radius: 2px;
    content: $empty;
    display: block;
    height: 25%;
    left: 15%;
    position: absolute;
    top: 37%;
    transition: .3s;
    width: 85%;
  }
}

.tcon-transform {
  &::before,
  &::after {
    background-color: material-color(md_green, 500);
  }
}

.atl-checkbox {
  background-color: material-color(md_grey, 200);
  border-radius: 50%;
  display: block;
  height: 4rem;
  left: 1.5em;
  position: absolute;
  width: 4rem;
}

.checkbox {
  label {
    padding-left: 2em;
  }
}
