.atlm-intro-desktop {
  background-color: $primary-dark-gray;
  font-size: 1vh;
  height: 100vh;
  width: 100vw;

  .uk-text-lead {
    font-size: 2em;
  }

  h1 {
    font-size: 4.25em;
  }

  .uk-heading-small {
    font-size: 3.25em;
  }

  .atlm-intro-content {
    align-items: center;
    display: flex;
    height: 60vh;
    left: 0;
    justify-content: center;
    position: relative;
    top: 80px;
    width: 100vw;

    .uk-card-title,
    .atlm-xlarge-button {
      font-size: 3em;
      text-transform: uppercase;

      svg {
        font-size: 4em;
      }
    }

  }

  video {
    height: calc(100vh - 80px);
    left: 0;
    object-fit: cover;
    opacity: .75;
    position: fixed;
    top: 80px;
    width: 100vw;
  }
}

.atlm-tagline {
  h1,
  h3,
  p {
    color: white;
  }
}

.atlm-activity-card {
  .uk-card {
    h3,
    .uk-text-lead,
    svg {
      color: #1C1C1C;
    }
  }
}

.atlm-intro-background {
  background-image: url(/assets/images/bg.jpg);
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.atlm-intro-small {

  .atlm-intro-content-small {
    min-height: 85vh;
    position: relative;
  }
}

.atlm-site-content {
  background-color: $primary-dark-gray;
  color: white;
  position: relative;

  h2,
  h3,
  .uk-text-lead {
    color: white;
  }

  .uk-container-medium {
    min-height: calc(100vh - 250px);
  }

  .atlm-about {
    background-image: url(/assets/images/bg.jpg);

    .uk-container {
      background-color: rgba($primary-dark-gray, 0.75);
    }

    h3 {
      a {
        color: white;
      }
    }

    h5 {
      color: white;
      font-size: 1.25rem;
    }

    .atlm-about-heading {
      &.uk-accordion-title {
        color: white;
        cursor: pointer;
        // font-size: 4rem;
        text-decoration: underline;
      }
    }

    a {
      color: white;
      text-decoration: underline;

      &:hover {
        color: $secondary-light-gray;
      }
    }
  }
}

.atm-featured-project-card-link {
  text-decoration: none !important;

  .uk-card {
    transition-property: transform;
  }

  &:focus,
  &:hover {
  .uk-card {
    border-color: blue;
    border-width: 1px;
    border-style: solid;
    transform: scale(1.1);
    }
  }
}

.atlm-footer {
  background-color: $primary-light-gray;
  position: relative;
  z-index: 2;

  img {
    width: 15vw;
  }

  a {
    color: white;
    text-decoration: underline;

    &:hover {
      color: $secondary-light-gray;
    }

  }

  .atlm-sub-footer {
    background-color: black;
    // height: 100%;
    width: 100vw;

    .uk-float-right {
      font-size: 2rem;
    }
  }

  .atlm-small-logo {
    width: 2rem;
  }
}

.atlm-cookie-consent {
  background-color: rgb(0 0 0 / 62%);;
  bottom: 0;
  color: white;
  height: 200px;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 10000;

  a {
    color: lightblue;
    text-decoration: underline;
  }
}

.login-button {
  color: white;
  font-size: 2rem;

  &.google {
    background-color: #ea4435;
  }

  &.facebook {
    background-color: #2d88ff;
  }

  &.github {
    background-color: #302f2f;
  }

  &.twitter {
    background-color: #1da1f1;
  }
}