.atlm-project-map {
  .leaflet-container {
    height: calc(100vh - 80px);
    width: 100vw;
  }
}

.atlm-share-layer-map {
  .leaflet-container {
    height: calc(100vh - 80px);
    width: 66vw;
  }
}

.atlm-share-layer-meta {
  height: calc(100vh - 80px);
  width: 33vw;
}

.atlm-project-title {
  background-color: $secondary-light-gray;

  h1 {
    font-size: 1.625rem;
  }
}

.atlm-text-lead {
  font-size: 1.25rem;
}

.atlm-opacity-range-input {
  width: 100%;
}

.atlm-toggle-switch {
  font-size: 1.5rem;
}

.atlm-data-type {
  font-size: 2rem;
}

.atlm-popup {
  background-color: white;
  // font-size: 1rem;
  left: 200px;
  // min-height: 25vh;
  max-width: 33vw;
  position: absolute;
  top: 200px;
  z-index: 500;

  .atlm-popup-icon {
    font-size: 2.5rem;
  }

  .atlm-popup-content {
    height: auto;
    max-height: 40vh;
    resize: unset;
  }

  .atlm-popup-handle {
    cursor: grab;

    .atlm-popup-close-button {
      cursor: pointer;
    }
  }
}

.atlm-map-marker {
  // Moves the tip of the marker icon to the correct location.
  height: 3.5rem !important;
  width: 2.5rem !important;
  // margin-top: -3rem !important;
  // margin-right: -500px !important;
  font-size: 2.5rem;
  text-shadow: 0 0 3px #fff;
  border: solid;

  svg {
    stroke: white;
    stroke-width: 10;
  }

  // &::before {
  //   font-family: "Font Awesome 5 Free"; font-weight: 900;
  //   content: "\f3c5";
  // }

  &.active {
    font-size: 5rem;
    margin-left: -.5rem !important;
    margin-top: -1.75rem !important;
  }
}

.atlm-project-ui-project-menu {
  font-size: .75rem;
  left: 59px;
  position: absolute;
  top: 100px;
  width: 33vw;
  z-index: 450;

  .uk-accordion-title {
    &:before {
      content: unset;
    }
  }

  a.atlm-map-menu-button {
    color: white;
    font-size: 1em;
    min-height: 40px;
    max-width: 90px;
    min-width: 60px;

    &.uk-accordion-title {
      background-color: $primary-light-gray;
      border-radius: 20% 0% 0% 0%;

      &:hover {
        background-color: #b0bec5;
      }

      &:focus {
        color: white;
      }
    }
  }

  li {
    span {
      font-size: 2em;
      display: block;
    }
  }

  .atlm-project-ui-project-menu-options {

    li {
      background-color: $primary-light-gray;
      width: 90px;

      &:hover {
        background-color: #b0bec5;
      }

      &.uk-active {
        background-color: $peach;

        a.atlm-map-menu-button {
          border: none;
          color: black;
          // color: $primary-dark-gray;
          // color: white;
        }
      }
    }

    li:last-of-type {
      border-radius: 0 0 0 20%;
    }
  }

  .uk-panel-scrollable {
    height: auto;
    max-height: 66vh;
  }
}

.atlm-grip {
  font-size: 1.5rem;
}

.atlm-layer-list-item {
  border-color: lightgray;
  border-style: solid;
}

.atlm-search-panel {
  background-color: $primary-light-gray;
  height: calc(100vh - 100px);
  top: 100px;
  width: 33vw;
}

.atlm-search-nav {
  position: fixed;
  width: 33vw;
  z-index: 2;
}

.atlm-toggle-layer-search {
  position: absolute;
  right: 100px;
  top: 100px;
  z-index: 700;
}

.atlm-search-panel-tab {
  background-color: $secondary-dark-gray;
  color: white !important;

  &:hover {
    color: $dark-text;
  }
  div {
    cursor: pointer;
    font-size: 1.5rem;
  }

  .uk-badge {
    background: $white-text;
    color: $primary-dark-gray;
  }

  &.uk-active {
    background-color: white;
    border-bottom-style: solid;
    border-block-end-color: $peach;

    div {
      color: $subnav-pill-item-active-color;
    }

    .uk-badge {
      background-color: $primary-dark-gray;
      color: $white-text;
    }
  }
}

.atlm-search-content-panel {
  margin-bottom: 6rem;
  margin-top: 6rem;

  .uk-button-link {
    color: $primary-dark-gray;
    font-size: 1.25rem;
    text-transform: capitalize;


    .fa-plus-circle {
      color: $secondary-dark-gray;
    }

    .fa-check-circle,
    .fa-check-square {
      color: $peach;
    }

    .atlm-add-remove-icon {
      font-size: 3.5rem;
    }
  }

  .uk-panel-scrollable {
    height: calc(100vh - 20px);
  }

  .uk-accordion-content {
    .uk-button-link {
      font-size: 1rem;
    }
  }
}

.atlm-search-panel-top {
  background-color: $primary-light-gray;
  height: 2rem;
  width: 100%;
}

.atlm-pagination {
  background-color: $secondary-light-gray;
  bottom: 0;
  position: fixed;
  width: 33vw;

  button {
    font-size: 1.25rem;
    // font-weight: 900;
  }

  label,
  select {
    color: unset;
  }
}

// .atlm-test-current-page {
//   .uk-button-link {
//     font-size: 1.5rem;
//   }
// }

.atlm-category-accordion-title {
  display: inline;
}

.atlm-notification {
  position: absolute;
  top: 110px;
  width: 100vw;
  z-index: 1000;
}

.atlm-base-map-selector {
  bottom: 10px;
  left: 60px;
  position: absolute;
  z-index: 1000;

  button {
    &:after {
      background: unset;
    }
  }
}

.atlm-large-button {
  font-size: 1.5rem;
  font-weight: 300;
}

.atlm-project-intro-modal {
  z-index: 10002;
}

.atlm-project-intro-panel {
  max-height: 75vh;
  min-height: 50vh;
}

.atlm-xlarge-button {
  background-color: #00C853;
  color: $primary-dark-gray;
  font-size: 3rem;
  padding: 2rem;

  &:hover,
  &:focus {
    color: $primary-dark-gray;
    background-color: #64DD17;
  }
}

@mixin slider-thumb {
  background-color: $peach;
  border-radius: 50%;
  cursor: ew-resize;
  height: 1.2rem;
  width: 1.2rem;
}

.atlm-opacity-slider-label {
  opacity: 0;
}

.atlm-slider {
  border: solid 1px $peach;
  border-radius: .5rem;
  height: .2rem;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;

  &::-moz-range-thumb {
    @include slider-thumb;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include slider-thumb;
  }

  &::-webkit-slider-runnable-track {
    // height: 5px;
}
}

.atlm-loading-modal {
  display: block;
}

.atlm-popup-gallery {
  img {
    height: 100%
  }
}