// @import 'variables';

.content {
  .banner {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0 120px;

    &.blurred {
      min-height: 280px;
      padding-bottom: 220px;
    }

    &.blue {
      background-image: url('/assets/images/backgrounds/bg-blue-map.png');

      &.blurred {
        background-image: url('/assets/images/backgrounds/bg-blue-map-blurred.png');
      }
    }

    &.pink {
      background-image: url('/assets/images/backgrounds/bg-pink-map.png');

      &.blurred {
        background-image: url('/assets/images/backgrounds/bg-pink-map-blurred.png');
      }
    }

    &.orange {
      background-image: url('/assets/images/backgrounds/bg-orange-map.png');

      &.blurred {
        background-image: url('/assets/images/backgrounds/bg-orange-map-blurred.png');
      }
    }

    &.light-orange {

      &.blurred {
        background-image: url('/assets/images/backgrounds/bg-lightorange-map-blurred.png');
      }
    }

    header {
      h2 {
        color: #2196f3; //material-color(md_blue, 400);
        font-size: 5em;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 1.2em;
        // text-shadow: .11em .11em 1em $shadow;
      }
    }
  }
}
