.base-preview {
  background-repeat: no-repeat;
  background-size: cover;
  height: 10em;
  text-align: center;
  width: 48%;
}

.satellite {
  background-image: url('/assets/images/satellite.png');
}

.street {
  background-image: url('/assets/images/street_map.png');
}
