.bios {

  .bio-content {
    &:nth-of-type(2n+1) {

      text-align: right;
    }

  }
}

.bio {
  @include grid-container;
  margin-bottom: 3em;
}

.bio-photo {
  @include grid-column(2);

  span {
    min-width: calc(25% - 35px);

    img {
      border-radius: 50%;
    }
  }
}

.bio-content {
  @include grid-column(10);
}
