// .results {
//     position: absolute;
//     left: 450px;
//
//     .btn-group {
//         margin: 0;
//     }
//
//     .browse-results {
//         margin: 0;
//

//
//         .layer-list-item {
//             padding: .5em 0;
//             box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
//
//            article {
//                font-weight: lighter;
//                font-size: medium;
//            }
//
//            .institution {
//                font-size: initial;
//            }
//         }
//     }
// }
.browse-results {
    width: 65%;
    position: absolute;
    right: 40px;

    .btn-group {
        margin: 0;
    }

    .layer-list-item {
        margin: 0;
    }

    .layer-list-item:nth-child(even){
      background: #EEE;
    }

    .layer-list-item:nth-child(odd){
      background: white;
    }
}
