@import "variables.scss";
.show-browse {
    visibility: visible;
    margin-top: -7px;
    width: 404px !important;
    margin-left: 34px !important;
}
.toggle-results {
    position: absolute !important;
    top: 29%;
    left: 28%;
    background-color: material-color(md_deeporangealt, 400) !important;
    color: #fff !important;
}
li.tags {
    font-size: 0.75em;
}

.browse-pane {
    background-color: white;
    width: 100%;
    margin-left: 0.25em;
    max-height: 100vh !important;
    pointer-events: all;
    h2 {
        font-size: 1.5em;
        margin: 10px 0;
    }
    hr {
        margin-top: 0.5em;
        margin-bottom: 0;
    }
    li {
        border: none;
    }

    .browse-by-tags {
        padding-left: 0;
        section {
            width: 100%;
        }
        ul.categories {
            width: 100%;
            li.category {
                // height: 1em;
                width: 100%;
                border: none;
                font-size: medium;
                span {
                    width: 0.75em;
                    display: inline-block;
                }
                i {
                    font-size: small;
                    width: 1em;
                }
            }
        }
        ul.tag-group {
            // pointer-events: all;
            li {
                border: none;
                padding-left: 5px;
                margin: 0;
            }
            .checkbox label {
                color: black;
                padding-left: 30px;
                margin-left: 0;
                font-size: small;
                margin-bottom: 0;
                input[type=checkbox] ~ .check:before {
                    position: absolute;
                    top: 2px;
                    left: 11px;
                    width: 12px;
                    height: 12px;
                    border: solid 2px;
                    border-color: $darkgrey;
                    animation: small-uncheck 300ms ease-out forwards;
                }
                input[type=checkbox]:checked ~ .check:before {
                    animation: small-check 300ms ease-out forwards;
                }
                .check:after {
                    height: 20px;
                    width: 20px;
                    left: 9px;
                    top: 0;
                }
                @keyframes small-uncheck {
                    0% {
                        top: -3px;
                        left: 17px;
                        width: 10px;
                        height: 12px;
                        border-color: $grey;
                        border-left-color: transparent;
                        border-top-color: transparent;
                        transform: rotate(45deg);
                    }
                    50% {
                        top: 14px;
                        left: 17px;
                        width: 4px;
                        height: 4px;
                        transform: rotate(45deg);
                        border-color: $grey;
                        border-left-color: transparent;
                        border-top-color: transparent;
                    }
                    51% {
                        border-color: $darkgrey;
                        border-left-color: $darkgrey;
                        border-top-color: $darkgrey;
                    }
                    100% {
                        top: 3px;
                        left: 12px;
                        width: 12px;
                        height: 12px;
                        transform: rotate(0deg);
                        border-color: $darkgrey;
                        border-left-color: $darkgrey;
                        border-top-color: $darkgrey;
                    }
                }
                @keyframes small-check {
                    100% {
                        top: 3px;
                        left: 17px;
                        width: 6px;
                        height: 12px;
                        transform: rotate(45deg);
                        border-color: $grey;
                        border-left-color: transparent;
                        border-top-color: transparent;
                    }
                    51% {
                        border-left: transparent;
                        border-top-color: transparent;
                    }
                    50% {
                        top: 14px;
                        left: 17px;
                        width: 4px;
                        height: 4px;
                        transform: rotate(45deg);
                        border-color: $darkgrey;
                        border-left-color: $darkgrey;
                        border-top-color: $darkgrey;
                    }
                    0% {
                        top: 5px;
                        left: 10px;
                        width: 12px;
                        height: 12px;
                        transform: rotate(0deg);
                        border-color: $darkgrey;
                        border-left-color: $darkgrey;
                        border-top-color: $darkgrey;
                    }
                }
            }
        }
    }
    .browse-by-years {
        #end_year,
        #start_year {
            padding: 7px;
            // margin: 0 2em;
            width: 4em;
        }
        #start_year {
            float: left;
            margin-left: 15px;
        }
        #end_year {
            float: right;
            margin-right: 15px;
        }
        div.year-slider {
            width: 97%;
            padding-left: 12px;
        }
    }
    .browse-by-institution {
        .institution {
            label {
                padding: 0.5em 0 0 1.75em;
                // font-size: 1em;
                color: $darkgrey;
                .check {
                    margin-top: 1px;
                }
            }
            input[type=checkbox] ~ .check:before {
                animation: inst-uncheck 300ms ease-out forwards;
            }
            input[type=checkbox]:checked ~ .check:before {
                animation: inst-check 300ms ease-out forwards;
            }
            @keyframes inst-uncheck {
                0% {
                    top: -3px;
                    left: 17px;
                    width: 10px;
                    height: 12px;
                    border-color: $blue;
                    border-left-color: transparent;
                    border-top-color: transparent;
                    transform: rotate(45deg);
                }
                50% {
                    top: 14px;
                    left: 17px;
                    width: 4px;
                    height: 4px;
                    transform: rotate(45deg);
                    border-color: $blue;
                    border-left-color: transparent;
                    border-top-color: transparent;
                }
                51% {
                    border-color: $darkgrey;
                    border-left-color: $darkgrey;
                    border-top-color: $darkgrey;
                }
                100% {
                    top: 3px;
                    left: 12px;
                    width: 12px;
                    height: 12px;
                    transform: rotate(0deg);
                    border-color: $darkgrey;
                    border-left-color: $darkgrey;
                    border-top-color: $darkgrey;
                }
            }
            @keyframes inst-check {
                100% {
                    top: 3px;
                    left: 17px;
                    width: 6px;
                    height: 12px;
                    transform: rotate(45deg);
                    border-color: $blue;
                    border-left-color: transparent;
                    border-top-color: transparent;
                }
                51% {
                    border-left: transparent;
                    border-top-color: transparent;
                }
                50% {
                    top: 14px;
                    left: 17px;
                    width: 4px;
                    height: 4px;
                    transform: rotate(45deg);
                    border-color: $darkgrey;
                    border-left-color: $darkgrey;
                    border-top-color: $darkgrey;
                }
                0% {
                    top: 5px;
                    left: 10px;
                    width: 12px;
                    height: 12px;
                    transform: rotate(0deg);
                    border-color: $darkgrey;
                    border-left-color: $darkgrey;
                    border-top-color: $darkgrey;
                }
            }
        }
    }
}
