.browse-results {
  font-size: unset;
  height: 100vh;
  opacity: 1;
  pointer-events: all;
  position: absolute;
  right: 0;
  top: 3em;
  transform: none;
  width: 50vw;
  z-index: 1003;

  .browse-nav {
    width: 100%;
  }

}

.browse-results.no-results {
  pointer-events: none;
}

.browse-results {

  > .tab-wrap.browse-nav {
    > .tab-label-content {

      > label {
        font-size: unset;

        i {
          opacity: 1;
        }
      }

      > .tab-content {
        height: 10vh;
        opacity: .7;
      }

      > .tab-content.has-results {
        height: 80vh;
        opacity: 1;

        .result-count {
          padding: .5em;
        }
      }
    }
  }
}

.results-container {
  display: flex;
  overflow: auto;
  position: relative;

  h3 {
    margin-bottom: .25em;
    margin-top: 0;
  }

  .result-list {
    padding: 0;
    // position: relative;

    ul {
      list-style: none;
      overflow: auto;
      padding: inherit;

      li {
        border: unset;
        border-bottom: 1px solid material-color(md_grey, 700);
        border-radius: unset;
        font-size: unset;
        margin-bottom: 0;
        padding: .5rem;

        span {
          & .result-count {
            margin-left: 3.5rem;
          }
        }

        & .active {
          background-color: material-color(md_blue, 50);
        }
      }
    }
  }
}

#toggleResultsCheck:not(:checked) ~ .browse-results {
  animation: fadeOutToTopLeft $rabbit;
  animation-fill-mode: forwards;
  transform-origin: top left;
}

#toggleResultsCheck:checked ~ .browse-results {
  animation: fadeInFromTopLeft $rabbit;
  transform-origin: top left;
}
@keyframes fadeInFromTopLeft {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes fadeOutToTopLeft {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }

  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}


// TODO move this to a pagination-links.scss
.pagination {
  background-color: material-color(md_grey, 200);
  left: 0;
  padding-bottom: 1em;
  position: absolute;
  top: 80vh;
  width: 100%;

  button {
    pointer-events: all;
  }

  .btn-warning {
    cursor: not-allowed;
    pointer-events: none;
  }

  i {
    vertical-align: bottom;
  }
}

.ember-power-select {
  padding-top: .5em;
}
