.close-button {
  color: material-color(md_grey, 600);
  margin-right: .45em;
  margin-top: .5em;
  opacity: .7;
  padding: 0;
  text-decoration: none;

  &:hover {
    color: material-color(md_red, 500);
    opacity: 1;
  }

  i {
    margin-right: .4em;
  }
}

// .row.close-button-row {
//
// }

// .modal-content {
//     a.close-button {
//         right: 23px;
//         position: absolute;
//         z-index: 2;
//     }
// }
