a.close-button {
    color: material-color(grey, 600);
    text-decoration: none;
    margin-top: .5em;
    margin-right: .45em;
    padding: 0;
    opacity: .7;
    &:hover {
        opacity: 1;
    }
}

// .row.close-button-row {
//
// }

// .modal-content {
//     a.close-button {
//         right: 23px;
//         position: absolute;
//         z-index: 2;
//     }
// }
