// .embed-footer {
  // background-color: $primary-color-dark;
  // bottom: 0;
  // display: block;
  // height: 40px;
  // position: absolute;
  // width: 100%;
  // z-index: 999;
//
//   img {
//     float: left;
//     height: 30px;
//     margin-left: 2.5px;
//     margin-top: 2.5px;
//   }
//
//   h2 {
//     color: $white;
//     font-size: 25px;
//     line-height: 40px;
//     margin-left: 20px;
//   }
// }
//

$embed-header: (
  columns: 24,
  gutter: 0
);

$embed-title: (
  columns: 2,
  gutter: 20px
);

.embed-header {
  @include header;
  @include grid-container;
  background-color: $half-faded-black;
  max-height: none;
  position: relative;

  .embed-menu-open {
    @include grid-column(1, $embed-header);
    color: $white;
    font-size: modular-scale(2);
    text-align: center;

    &.with-raster {
      font-size: modular-scale(5);
    }
  }

  .embed-title-container {
    @include grid-column(23, $embed-header);
  }

  .embed-title {
    @include grid-collapse($embed-header);
    @include grid-container;
  }

  .embed-title-title {
    @include grid-column(2, $embed-title);
  }

  .embed-slider-container {
    @include grid-column(1, $embed-title);
  }

}

.layer-menu {
  @include grid-container;
  background-color: $white;
  // height: 100vh;
  padding: 1em;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform $rabbit;
  width: 400px;
  z-index: 1000;

  &.showing {
    transform: scaleX(1);
  }

  h2 {
    @include grid-column(11);
  }

  span {
    @include grid-column(1);
  }

  .thumb {
    @include grid-column(12);
    height: 75px;
    margin-bottom: 20px;
    overflow: hidden;

    &.raster {
      // margin-left: 20;
      width: calc(100% - 40px);

      span {
        margin-left: 0;
      }
    }
  }

  .clickable {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
}

.watermark {
  bottom: .5em;
  opacity: .5;
  position: absolute;
  right: 8px;
  z-index: 999;

  &:hover {
    opacity: 1;
  }
}
