@font-face {
    font-family: 'atlmaps-ext';
    src: url('https://s3.amazonaws.com/atlmaps-staging/assets/fonts/atlmaps-ext/font/atlmaps-ext.eot'),
         url('https://s3.amazonaws.com/atlmaps-staging/assets/fonts/atlmaps-ext/font/atlmaps-ext.ttf'),
         url('https://s3.amazonaws.com/atlmaps-staging/assets/fonts/atlmaps-ext/font/atlmaps-ext.eot#iefix') format('embedded-opentype'),
         url('https://s3.amazonaws.com/atlmaps-staging/assets/fonts/atlmaps-ext/font/atlmaps-ext.woff') format('woff'),
         url('https://s3.amazonaws.com/atlmaps-staging/assets/fonts/atlmaps-ext/font/atlmaps-ext.ttf') format('truetype'),
         url('https://s3.amazonaws.com/atlmaps-staging/assets/fonts/atlmaps-ext/font/atlmaps-ext.svg#atlmaps-ext') format('svg');
}

i.atlmaps-ext {
    font-family: 'atlmaps-ext';
//     margin: .25em;
//
//     .badge {
//       margin-bottom: .75em;
//     }
}

i.material-icons.atlmaps-ext.database::before{
    content: '\e800';
}

span.map-marker.polygon::before {
    font-family: 'atlmaps-ext';
    content: '\e801';
}
