@font-face {
  font-family: 'atlmaps-ext';
  src: url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.eot'),
  url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.ttf'),
  url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.eot#iefix') format('embedded-opentype'),
  url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.woff') format('woff'),
  url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.ttf') format('truetype'),
  url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.svg#atlmaps-ext') format('svg');
}

@mixin polygon {
  &::before {
    content: '\e802';
    font-family: 'atlmaps-ext';
    font-size: .8em;
  }
}

i.atlmaps-ext {
  font-family: 'atlmaps-ext';
}

i.material-icons.atlmaps-ext.database::before{
  content: '\e800';
}

.layer-list-item-icon {

  &.GeometryCollection {
    @include polygon;
  }

  &.MultiPolygon {
    @include polygon;
  }

  &.Polygon {
    @include polygon;
  }
}

.layer-list-item-icon.LineString::before {
  content: '\e803';
  font-family: 'atlmaps-ext';
  font-size: .7em;
  position: relative;
  right: .2em;
}

.atls-logo::before {
  content: '\e804';
  font-family: 'atlmaps-ext';
  font-size: .7em;
  line-height: .55em;
  position: relative;
  right: .2em;
  vertical-align: text-bottom;
}

.fa-drag-handle:before {
    font-family: 'FontAwesome';
    content: "\f142 \f142";
    letter-spacing: 0.1em;
}
