@font-face {
  font-family: 'atlmaps-ext';
  src: url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.eot'),
  url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.ttf'),
  url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.eot#iefix') format('embedded-opentype'),
  url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.woff') format('woff'),
  url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.ttf') format('truetype'),
  url('/assets/fonts/atlmaps-ext/font/atlmaps-ext.svg#atlmaps-ext') format('svg');
}

i.atlmaps-ext {
  font-family: 'atlmaps-ext';
}

i.material-icons.atlmaps-ext.database::before{
  content: '\e800';
}

.layer-list-item-icon.polygon::before {
  content: '\e802';
  font-family: 'atlmaps-ext';
  // letter-spacing: .25em;
}

.layer-list-item-icon.polyline::before {
  content: '\e803';
  font-family: 'atlmaps-ext';
  // letter-spacing: .25em;
}

.fa-drag-handle:before {
    font-family: 'FontAwesome';
    content: "\f142 \f142";
    letter-spacing: 0.1em;
}
