// Styling for the success and error messages showing when updaing projects.
.feedback {
  bottom: 5em;
  font-size: 1.2em;
  left: 1em;
  max-width: 20vw;
  opacity: .7;
  padding: 0;
  transition: padding $turtle ease-in-out;
  z-index: 999;

  &.show-flash {
    padding: 1em .25em;
  }
}
$base-spacing: 1.5em !default;
$flashes: ( 'alert': #fff6bf, 'error': color('red', 'base'), 'notice': #e5edf8, 'success': color('green', 'base'), ) !default;
@each $flash-type, $color in $flashes {
  .flash-#{$flash-type} {
    background-color: $color;
    // color: shade($color, 60%);
    color: $primary-color;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;

    a {
      color: shade($color, 70%);
      text-decoration: underline;

      &:focus,
      &:hover {
        color: shade($color, 90%);
      }
    }
  }
}
