@import 'variables';

.footer {
  background: material-color(md_grey, 900);
  bottom: 0;
  padding: 20px 0;
  position: relative;
  width: 100%;

  // Footer - Hyperlink
  a {
    color: material-color(md_grey, 300);

    &:visited {
      color: material-color(md_grey, 400);
    }
  }

  // Footer - App name
  .app-name {
    color: material-color(md_grey, 400);
  }

  // Footer - Copyrights information
  .app-copyrights {
    color: material-color(md_grey, 600);
  }

  .footer-logo {
    height: 75px;
  }

  .footer-row {
    padding: 15px;
  }
}

.partner-logo {
  height: 150px;
  padding: 15px;
}
