/* pulled this out of app.scss for the home page stylying.
haven't imported this and all seems fine. i'll keep it around
for a bit just incase. */

.list-group-item.project-group-item {
  overflow: visible;
}

.list-group  div.project-group-item {
  overflow: auto;
  min-height: 220px;
}
