.layers-nav {
  position: absolute;
}

.layers-route {

  .project-pane {
    box-shadow: none;
    font-size: 14px;
    left: 1.5em;
    position: absolute;
    top: 5.25em;
    width: 25%;
    z-index: 1001;
  }

  .pane-title {
    display: none;
  }

  .card {
    background-color: transparent;

    .scrollable-list {
      background-color: transparent;
      padding-top: .25em;
    }
  }

  .layer-item {
    background-color: $white;
    margin: .25em;

    .collapsible-header {
      padding-bottom: 0;
      padding-top: 0;
    }
}

  .reorder-handle {
    i {
      margin-right: -.6em;
    }
  }
}
