@import 'variables';

.project-group-item {

  div {
    min-height: 15em;
    @media only screen and (max-width: 992px) {
      min-height: 0;
    }
  }

}

a.new-project.btn.btn-fab {
  background-color: material-color(md_deeporangealt, 400);
  color: $white;
  height: 4em;
  margin-top: -1.6em;
  position: absolute;
  right: 8.3em;
  width: 4em;

  i {
    font-size: 48px;
    line-height: 24px;
    transform: translate(-24px, -12px);
    width: 24px;
  }
}

.project-list {

  h4 {
    opacity: .6;
    padding-bottom: 2%;
    padding-left: 7%;
    padding-top: 1.2em;
  }

  a {
    text-decoration: none;

    .material-icons {
      &:hover {
        background-color: material-color(md_blue, 700);
        color: $white;
      }
    }
  }

  .list-group-item {
    min-height: 15em;

    .row-action-primary {
      vertical-align: top;
    }

    .row-content {
      margin-top: .5em;
    }

    p {
      opacity: .7;
    }

    .action-secondary {
      // right: 0;
      // top: 0;

      i {
        &:hover {
          background-color: material-color(md_grey, 200);
          border-radius: 50%;
          color: material-color(md_deeporangealt, 400);
        }

      }
    }

  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .project.list-group-item {
    min-height: 1px;
  }
}

a.featured {
  color: whitesmoke;
  text-decoration: none;

  h2 {
    color: material-color(md_grey, 800);
    padding-left: .5em;
  }
}
