.project.list-group-item {
	min-height: 15em;

	.action-secondary {
		top: 0 !important;
		right: 0 !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.project.list-group-item {
		min-height: 1px;
	}
}
