.layer-list-item:nth-child(even){
  background: #EEE;
}

.layer-list-item:nth-child(odd){
  background: white;
}

.layer-list-item {
    padding: .5em 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);

   article {
       font-weight: lighter;
       font-size: medium;
   }

   .institution {
       font-size: initial;
   }
}
