.loading {
  background-image: url('/assets/images/backgrounds/loading-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.error {
  align-items: center;
  background-color: $white;
  border-radius: .5em;
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  justify-content: center;
  left: 50%;
  line-height: 1.5em;
  max-height: 75vh;
  min-height: 5em;
  padding: 1em;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);

  div {
    padding-bottom: 1em;
    width: 80%;

    i {
      color: $error;
    }
  }
}
