@import 'variables';

$navbar-toggle-color: material-color(md_grey, 500);
$navbar-hover-toggle-color: material-color(md_grey, 800);

.main-navbar {
  background-color: $white;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, .20);
  margin: $zero;
  min-height: 3.3em;
  position: relative;

  .navbar-collapse {
    display: inline-block;
    margin-top: -8px;
    width: 100%;

    ul {
      li {
        a {
          border-top-left-radius: 5%;
          border-top-right-radius: 5%;
          color: material-color(md_grey, 800);
          font-size: larger;
          padding-bottom: .75em;

          &:focus,
          &:hover {
            background-color: material-color(md_deeporangealt, 400);
            color: $white;
          }
        }
      }

      .active {
        background-color: material-color(md_blue, 700);
        color: $white;
      }
    }
  }

  a {
    span {
      color: material-color(md_grey, 400);
    }
  }

  li {
    padding-top: 1em;
  }

  img {
    float: left;
  }

  .site-title {
    span {
      font-size: x-large;
      line-height: 50px;
    }
  }

  .navbar-toggle {
    border-color: $navbar-toggle-color;

    .icon-bar {
      background-color: $navbar-toggle-color;
    }
  }
}

.projects-index {
  #map {
    opacity: 0;
  }

  .main-navbar {
    visibility: visible;
  }
}

img.logo {
  height: 45px;
  margin-bottom: 12px;
  margin-right: 12px;
}
