/*General marker style*/

@import "variables.scss";

/* LIST OF ADDED DATA LAYERS */
// $marker-icon is defined in variables
.point-data:before {
    font-family: 'Material Icons';
    content: $marker-icon;
}
.line-data:before{
    font-family: 'Material Icons';
    content: $line-icon;
}

/* ON THE MAP*/
.map-marker .map-marker {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  margin-top: -34px; /*Shift by arrow top+height*/
  margin-left: -12px; /*Shift by half the marker width*/
  line-height: 22px;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}
.leaflet-marker-pane .map-marker div.icon {
  position: relative;
  width: 22px; /*Same as marker width*/
  height: 22px; /*Same as marker height*/
  border-radius: 22px;
  margin-left: 0;
  margin-top: 0;
  background-repeat:no-repeat;
  background-position:center;
  display:block;
  font-size: 46px;
  left: -13px;
  top: -30px;
}
.map-marker div.icon {
  /*Icon Font*/
  font-family: "Material Icons";
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 32px;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  transition: color 0.2s;
}

.map-marker div.icon:before{
  content: $marker-icon;
}

.layer-marker div.icon:before {
    font-family: "Material-Design-Icons";
  content: $layer-icon;
}

.laoding div.icon:before {
  content: "\e8c0";
}

.map-marker div.shadow{
  background-image:url('/assets/images/marker-shadow.png');
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 11px;
  right: -16px;
  opacity: 0.75;
}

/*Marker states*/
.map-marker.inactive {
  opacity: 0.6;
}

.map-marker.active_marker{
  // z-index: 1000000!important;
  // pointer-events: none;
}

.map-marker.active_marker div.icon:before{
  content: $marker-icon;
  position: absolute;
  top: -22px;
  left: -18px;
  font-size: 80px;
}

.map-marker.highlighted div.icon{
  color: red;
}
.map-marker.highlighted div.arrow{
  border-color: #000 transparent transparent transparent;
}

// sytle the lines, we need to add some class to the svgs
// .leaflet-zoom-animated {
//   &> g{
//    &> path {
//     stroke: deeppink;
//     fill: deeppink;
//    }
//   }
// }

/*Marker color instances*/
.map-marker.layer-red, .leaflet-zoom-animated.layer-red {
  color: #ef5350;
}
.map-marker.layer-red-300 {
  color: #e57373;
}
.map-marker.layer-red-400 {
  color: #ef5350;
}
.map-marker.layer-red-500 {
  color: #f44336;
}
.map-marker.layer-red-600 {
  color: #e53935;
}
.map-marker.layer-red-700 {
  color: #d32f2f;
}
.map-marker.layer-pink-400 {
  color: #ec407a;
}
.map-marker.layer-pink-500 {
  color: #e91e63;
}
.map-marker.layer-pink-600 {
  color: #d81b60;
}
.map-marker.layer-pink-700 {
  color: #c2185b;
}
.map-marker.layer-purple-300 {
  color: #ba68c8;
}
.map-marker.layer-purple-400 {
  color: #ab47bc;
}
.map-marker.layer-purple-500 {
  color: #9c27b0;
}
.map-marker.layer-purple-600 {
  color: #8e24aa;
}
.map-marker.layer-purple-700 {
  color: #7b1fa2;
}
.map-marker.layer-deep-purple {
  color: #7e57c2;
}
.map-marker.layer-deep-purple-300 {
  color: #9575cd;
}
.map-marker.layer-deep-purple-400 {
  color: #7e57c2;
}
.map-marker.layer-deep-purple-500 {
  color: #673ab7;
}
.map-marker.layer-deep-purple-600 {
  color: #5e35b1;
}
.map-marker.layer-indigo-400 {
  color: #5c6bc0;
}
.map-marker.layer-indigo-500 {
  color: #3f51b5;
}
.map-marker.layer-indigo-600 {
  color: #3949ab;
}
.map-marker.layer-indigo-700 {
  color: #303f9f;
}
.map-marker.layer-blue-500 {
  color: #2196f3;
}
.map-marker.layer-blue-600 {
  color: #1e88e5;
}
.map-marker.layer-blue-700 {
  color: #1976d2;
}
.map-marker.layer-blue-800 {
  color: #1565c0;
}
.map-marker.layer-blue-900 {
  color: #0d47a1;
}
.map-marker.layer-cyan {
  color: #26c6da;
}
.map-marker.layer-cyan-50 {
  color: #e0f7fa;
}
.map-marker.layer-cyan-100 {
  color: #b2ebf2;
}
.map-marker.layer-cyan-200 {
  color: #80deea;
}
.map-marker.layer-cyan-300 {
  color: #4dd0e1;
}
.map-marker.layer-cyan-400 {
  color: #26c6da;
}
.map-marker.layer-cyan-500 {
  color: #00bcd4;
}
.map-marker.layer-cyan-600 {
  color: #00acc1;
}
.map-marker.layer-cyan-700 {
  color: #0097a7;
}
.map-marker.layer-cyan-800 {
  color: #00838f;
}
.map-marker.layer-cyan-900 {
  color: #006064;
}
.map-marker.layer-green-300 {
  color: #81c784;
}
.map-marker.layer-green-400 {
  color: #66bb6a;
}
.map-marker.layer-green-500 {
  color: #4caf50;
}
.map-marker.layer-green-600 {
  color: #43a047;
}
.map-marker.layer-yellow-400 {
  color: #ffee58;
}
.map-marker.layer-yellow-500 {
  color: #ffeb3b;
}
.map-marker.layer-yellow-600 {
  color: #fdd835;
}
.map-marker.layer-amber {
  color: #ffca28;
}
.map-marker.layer-amber-50 {
  color: #fff8e1;
}
.map-marker.layer-amber-100 {
  color: #ffecb3;
}
.map-marker.layer-amber-200 {
  color: #ffe082;
}
.map-marker.layer-amber-300 , .leaflet-zoom-animated.layer-amber-300 {
  color: #ffd54f;
}
.map-marker.layer-amber-400 {
  color: #ffca28;
}
.map-marker.layer-amber-500 {
  color: #ffc107;
}
.map-marker.layer-amber-600 {
  color: #ffb300;
}
.map-marker.layer-orange-300 {
  color: #ffb74d;
}
.map-marker.layer-orange-400 {
  color: #ffa726;
}
.map-marker.layer-orange-500 {
  color: #ff9800;
}
.map-marker.layer-orange-600 {
  color: #fb8c00;
}
.map-marker.layer-orange-700 {
  color: #f57c00;
}
.map-marker.layer-deep-orange-300 {
  color: #ff8a65;
}
.map-marker.layer-deep-orange-400 {
  color: #ff7043;
}
.map-marker.layer-deep-orange-500 {
  color: #ff5722;
}
.map-marker.layer-deep-orange-600 {
  color: #f4511e;
}
.map-marker.layer-deep-orange-700 {
  color: #e64a19;
}
.map-marker.layer-teal-600{
  color: #00897B;
}
.map-marker.layer-teal-700 {
    color: #00796B;
}
