// Material style tabs borrowed from here: https://codepen.io/mildrenben/pen/bdGdOb
$num-of-tabs: 2;
@mixin tabs {
   @for $i from 1 through $num-of-tabs{
    &:nth-of-type(#{$i}) {
      &:checked {
        ~ .slide {
          left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
        }
      }
    }
  }
}

.tab-wrap {
  background-color: $white;
  display: flex;
  position: relative;
  width: 0;

  input {
    // display: none;
  }
}

input[type='radio'][name='tabs'] {
  position: absolute;
  z-index: -1;

  &:checked {
    + .tab-label-content {
      label {
        color: material-color(md_white);
      }

      .tab-content {
        display: block;
      }
    }
  }
  @include tabs;

  &:first-of-type {
    &:checked {
      ~ .slide {
        left: 0;
      }
    }
  }
}

.tab-label-content > label:first-child {
  align-items: center;
  background-color: material-color(md_blue, 500);
  box-sizing: border-box;
  color: material-color(md_grey, 100);
  cursor: pointer;
  display: inline-flex;
  height: 56px;
  justify-content: center;
  text-align: center;
  transition: color .2s ease;
  width: 100%;
}

.slide {
  background: material-color(md_deeporangealt, 400);
  height: 4px;
  left: 0;
  position: absolute;
  top: calc(100% - 5px);
  transition: left $turtle ease-out;
  width: calc(100% / #{$num-of-tabs});
}

.tab-label-content {
  width: 100%;

  .tab-content {
    display: none;
    left: 0;
    line-height: 130%;
    overflow: auto;
    position: absolute;
    top: 6rem;
  }
}

@media screen and (max-width: 800px) {

  .tab-wrap {
    margin-left: 10%;
    width: 50%;
  }
}

.tab-content {
  background-color: $white;
  width: 100%;
}
