// Material Design type input
.md-input {
  // height: 4em;

  input 				{
    border: 0;
    border-bottom: 1px solid $primary-color-dark;
    box-shadow: none;
    display: block;
    font-size: modular-scale(2);
    margin-bottom: .25em;
    width: 90%;
    will-change: background, width;

    &:focus {
      box-shadow: none;
      outline: none;
  }
}

  // LABEL
  label 				 {
    bottom: 45px;
    color: $primary-color;
    font-size: 1.2em;
    font-weight: normal;
    pointer-events: none;
    position: relative;
    transition: bottom $rabbit ease, font-size $rabbit ease, color $rabbit ease;
    will-change: bottom, font-size, color;
  }

  // active state
  input:focus ~ label, input:valid ~ label 		{
    bottom: 5.25em;
    color: $secondary-color;
    font-size: .8em;
  }

  // active state
  input:focus ~ .highlight {
    animation: inputHighlighter $rabbit ease;
  }

  // ANIMATIONS ================
  @keyframes inputHighlighter {
    from {
      background: $secondary-color;
    }

    to {
      background: transparent;
      width: 0;
    }
  }
}
