@mixin header {
  background-color: $primary-color-dark;
  max-height: 44px;
  padding: .5em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;

  h1,
  i {
    color: $white;
    font-weight: bolder;
    letter-spacing: .1em;
    margin: 0;
    position: relative;
    text-transform: uppercase;
    top: 50%;
  }

  i {
    font-weight: normal;
  }
}

// Scrollabe container mixins!
// These are used to content scroll under a fixed header.
// Thanks Ben Frain!
// https://benfrain.com/independent-scrolling-panels-body-scroll-using-just-css/
@mixin scrollable-top {
  display: flex;
  height: auto;
  position: relative;
}

@mixin scrollable-container {
  backface-visibility: hidden;
  display: flex;
  max-height: 100vh;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
  will-change: overflow;
}

@mixin scrollable-content {
  height: auto;
  overflow: auto;
  // overflow-scrolling: touch;
  overflow-style: none;
}
