.ember-modal-dialog {
  overflow: scroll;
  width: 50%;
  top: 0;

  .ember-view{
    height: 25px;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0px;
  }

  .list {
    margin-top: 7em;
  }

  nav {
    padding: 1em;

    .search-field {
      width: 500px;
      left: 7px;
    }
  }
}

.navbar.navbar-inverse{
  background-color: rgb(82, 100, 174);
}

.project .navbar.navbar-clear.navbar-inverse{
  background-color: rgba(82, 100, 174, 0.35);
  transition: background-color 0.2s;
}

.project .navbar.navbar-clear.navbar-inverse:hover{
  background-color:#5264ae;
  background-color: rgba(82, 100, 174, 0.92);
}

.nav.navbar-nav.navbar-right .btn {
  margin: 0;
}

.navbar.navbar-inverse {
  position: fixed;
  top: 0;
  left: 25%;
  width: 50%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  a {
    color: white;
  }
}

.add-layers {
    top: 240px;
    height: 100%;
}
