.modal {
  position: fixed;
  margin: 10px auto;
  width: 66%;
  right: 0;
  background-color: #fff;
  padding: 1em;
  display: none;
  z-index: 10000000;
  overflow-y: scroll;
}

input {
  width: 100%;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.flush--top {
  margin-top: 0;  
}

.modal-loading {
	display: none;
}