@import 'layer-citation.scss';
.project-pane {

    position: absolute;
    right: 0;
    left: 50px;
    box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.5);

    .cotainer {
        background-color: white;
        padding: .5em;
        pointer-events: auto; // Allow the pane to respond to click.
        border-left: 1px solid #adadad;
        border-right: 1px solid #adadad;

        h1 {
            font-size: 2em;
        }

        article {
            padding: 2em;
        }
        article.layer {
            padding: 0;
        }
        ul {
            li {
                font-size: 1.5em;
                border-width: 1px;
                border-style: solid;
                border-color: lightgrey;
                border-radius: .25em;
                margin-bottom: .5em;
            }

            li.vector-layer {
                padding-left: .5em;
            }

            article {
                padding: 1em;
                font-size: .75em;
            }
        }

        // layer controls in edit view
        panel-footer.row {
            margin-bottom: 1px;
            pointer-events: all;
        }

        .layer-heading {
            padding: 0 .75em;
        }

        // Raster Panel Stuff
        .raster-list {

            .panel-body {
                padding: 0 15px;
            }

            .row {
                padding: 0;
            }

            .reorder {
                padding: .25em 0 0 0;
            }
        }

        .handle {
            cursor: -webkit-grab;
            cursor: -moz-grab;
            margin-right: 10px;
            transform: rotate(90deg);
        }

        .opacity-slider {
            padding-left: 5px;
        }

    }

}
