@import 'layer-citation.scss';
.project-pane {
    position: fixed; // This is preventing the scroll and/or causing the problems.
    left: 4.35em;
    top: 5.85em;
    padding: 0.5em;
    pointer-events: auto; // Allow the pane to respond to click.
    width: calc(33% - 25px);
    h3 {
        margin: .25em 0;
    }
}
    .project-route {

        border-left: 1px solid #adadad;
        border-right: 1px solid #adadad;
        box-shadow: -3px 0 10px 0 rgba(0, 0, 0, 0.5);
        background-color: white;

        .route-content {
            overflow: scroll;
            max-height: 95vh;
            padding: 1em;
        }
    }
    article {
        padding: 2em;
        color: material-color(grey, 800);
    }
    article.layer {
        padding: 0;
    }
    ul {
        li {
            // border-width: 1px;
            // border-style: solid;
            // border-color: lightgrey;
            // border-radius: 0.25em;
            // margin-bottom: 0.5em;
        }
        li.vector-layer {
            padding-left: 0.5em;
        }
        article {
            padding: 1em;
        }
    }
    // layer controls in edit view
    .panel-footer.row {
        // margin-bottom: 1px;
        pointer-events: all;
        margin: 0;
    }
    .layer-heading {
        padding: 0 1em;
        pointer-events: all;
        table {
            width: 100%;
            td {
                padding: 0 0.5em;
            }
        }
    }
    // Raster Panel Stuff
    .raster-list {
        .panel-body {
            padding: 0 15px;
        }
        .row {
            padding: 0;
        }
        .reorder {
            padding: 0.25em 0 0;
        }
        ul {
            list-style: none;
            padding-left: 0;
            li {
                border-style: none;
                border-width: 0;
                border-color: none;
                border-radius: 0;
                margin-bottom: 0;
                width: 100%;
            }
        }

    }
    .handle {
        cursor: -webkit-grab;
        cursor: -moz-grab;
        margin-right: 10px;
        transform: rotate(90deg);
    }
    .opacity-slider {
        padding-left: 5px;
    }
    // }
