
.project-nav {
  display: table;
  position: absolute;
  top: $navigation-height;
  width: $col1;
  z-index: 444;

  li {
    background-color: color('blue-grey', 'darken-1');
    color: color('blue-grey', 'lighten-5');
    cursor: pointer;
    font-size: .75em;
    line-height: 1em;
    max-height: 5.5em;
    opacity: 1;
    padding: .5em .75em;
    text-align: center;
    text-transform: uppercase;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform $rabbit;
    transition-timing-function: ease-in-out;
    will-change: transform;

    &:first-child {
      min-height: 5.25em;
    }

    &.active {
      background-color: $secondary-color;
      color: color('grey', 'lighten-4');
      opacity: 1;
    }

    a,
    label {
      color: color('grey', 'lighten-5');
      font-weight: 400;
      transition: background-color $rabbit;
      transition-timing-function: ease-in-out;

      &.active {
        color: color('grey', 'lighten-4');
      }
    }

    &:hover {
      background-color: color('blue-grey', 'lighten-3');
      box-shadow: $shadow;
      color: color('grey', 'darken-3');
      opacity: 1;

      label {
        background-color: color('blue-grey', 'lighten-3');
        color: color('grey', 'darken-4');
      }

      a {
        color: color('grey', 'lighten-4');
      }
    }
  }

  .fa {
    font-size: 2.11em;
    padding-bottom: .2em;
  }
}

.hide-nav-button {
  i {
    padding-top: .25em;
    transition: transform 300ms, padding-top 300ms;
  }
}

.hide-nav {
  box-shadow: none;

  .hide-nav-button {
    i {
      padding-top: 0;
      transform: rotate(180deg);
    }
  }

  li {
    &:not(:first-child) {
      transform: scaleY(0);
      transform-origin: top;
    }
  }
}

.raster-updated,
.vector-updated {
  animation-duration: 1.5s;
  animation-name: lightup-project-nav;
}
@keyframes lightup-project-nav {
  50% {
    background-color: color('blue-grey', 'lighten-5');
    color: color('blue-grey', 'darken-1');
    font-size: 1.5em;
  }

  100% {
    background-color: color('blue-grey', 'darken-1');
    color: color('blue-grey', 'lighten-5');
    font-size: 1em;
  }
}
// .project-top-nav {
//   box-shadow: none;
//   height: 2em;
// }

header.navigation {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  // $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: (columns: 12, gutter: 50px, media: 1000px);
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: transparentize($white, .3);
  $navigation-color-hover: $white;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize($white, .5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;
  background-color: $primary-color-dark;
  // border-bottom: $primary-color;
  max-height: $navigation-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: .5em;

    img {
      max-height: $navigation-height;
      padding: .4em 0;
    }
  }
  // Mobile view
  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;
    @include grid-media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }
  // Nav menu
  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;
    @include grid-media ($horizontal-bar-mode) {
      float: left;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include grid-media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }

    li {
      a {
        vertical-align: super;
      }
    }

    .title {
      color: $white;
      font-size: 2em;
      line-height: $navigation-height;

      &.project-title {
        padding-left: 1em;
      }
    }
  }
  // The nav items
  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;
    @include grid-media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;
      @include grid-media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }
  // Elements on the far right
  .navigation-tools {
    // background: #505050;
    // clear: both;
    // display: block;
    // height: $navigation-height;
    // position: absolute;
    // right: 0;
    // transition: all $turtle ease $rabbit;
    // &.collapse-tools  {
    //   right: 0;
    // }
    @include grid-media($horizontal-bar-mode) {
      background: transparent;
      clear: none;
      float: right;
      text-align: right;
    }

    .ember-basic-dropdown-trigger {
      height: $navigation-height;
      // left: 5em;
      top: 7px;
    }

    .tool-label {
      display: inline-flex;
      font-weight: 500;
      margin-right: .5em;
      max-width: 0;
      overflow: hidden;
      transition: max-width $turtle ease $rabbit;

      &.show-label {
        max-width: 100px;
      }
    }

    a {
      &:hover {
        .tool-label {
          max-width: 100px;
        }
      }
    }

    .search-btn {
      background-color: $secondary-color;
      height: $navigation-height;

      i {
        vertical-align: middle;
      }
    }
  }
}

.navigation-tools {
  .title-bar-action {
    color: color('grey', 'base');
    cursor: pointer;
    position: relative;
    right: 1em;
    top: 45%;

    i {
      font-size: 1.25em;
      vertical-align: text-top;
    }

    .toggle-user-menu {
      transition: transform $turtle;
    }

    .showing-user-menu {
      transform: rotate(180deg);
    }
  }

  .ember-basic-dropdown-content {
    border-radius: 4px;
  }

  .trigger-bootstrap-feel {
    color: #ccc;
    cursor: pointer;
    /* display: inline-block; */
    /* line-height: 1.42857143; */
    outline: none;
    padding: 6px 12px;
    position: relative;
    /* right: 1em; */
    /* text-align: center; */
    /* top: 10%; */
    /* vertical-align: top; */

    &:hover {
      // background-color: 0;
      // border-color: red;
    }
  }

  .title-bar-action {
    color: color('grey', 'base');
    position: relative;
    right: 1em;
    top: 7px;

    i {
      font-size: 1.25em;
      vertical-align: text-top;
    }

    .toggle-user-menu {
      transition: transform $turtle;
    }

    .showing-user-menu {
      transform: rotate(180deg);
    }
  }
}

.tite-bar-action-project {
  top: 0;
}

.content-bootstrap-feel {
  border-radius: 4px;
  min-width: 15vw;
}

.account-fa-ul {
  cursor: pointer;
  padding: .75em;

  li {
    padding-bottom: 1em;
  }
}
