.project-pane {
  background-color: $white;
  left: 5em;
  position: absolute;
  top: $navigation-height;
  width: 34vw;
  z-index: 401;
}

// Styles an empty div that acts as the fixed header that content scrolls beneth.
.fixer {
  @include scrollable-top;
}

.pane-container {
  @include scrollable-container;
  // Calculate the full height of the screen minus the heights of
  // the top nav bar, the pane title height, and the base map thumbnails.
  max-height: calc(100vh - (#{$navigation-height} + 5.5em + 75px));
  transition: max-height $rabbit;
  will-change: max-height;
}

.hide-nav {
  &+ .project-pane {
    .pane-container {
      max-height: 0;
    }
  }
}

.pane-content {
  @include scrollable-content;
  width: 100%;
}

.pane {
  padding: 1em;

  .action {
    cursor: pointer;
  }
}

.project-pane-header {
  @include grid-container;
  background-color: $blue-grey-100;
  height: 5.25em;
  padding-top: 1rem;
}

.project-pane-title {
  @include grid-column(10);
}

.project-pane-subtitle {
  text-transform: uppercase;
}

.project-pane-action {
  @include grid-column(2);
  cursor: pointer;
  text-align: center;
}

// Very literal code for the HOLC layer.
.color-key {
  // sass-lint:disable-block no-color-literals
  display: flex;
  font-size: 1.2em;
  text-transform: capitalize;

  ul {
    list-style: none;
  }

  li {
    border: 0;
    float: left;
    margin-right: 10px;
  }

  span {
    border: 1px solid #ccc;
    float: left;
    height: .75em;
    margin: 2px;
    width: .75em;
  }

  .color-key-0 { background-color: #4caf50; }
  .color-key-1 { background-color: #1e88e5; }
  .color-key-2 { background-color: #ffeb3b; }
  .color-key-3 { background-color: #f44336; }
}
