.intro-modal-link {
    margin-top: 10px;
    padding-bottom: 1em;
}
.project-intro {
    width: 90% !important;
    height: 90%;
    top: 5% !important;
    left: 5%;

    .container-fluid {
        height: 100%;
    }
    .intro-body {
        height: 75%;
    }
    .title{
        padding: 0;
        margin: 0;

        h1, h2 {
            padding: 0;
            margin: 0;
        }

        h1 {
            margin-top: 25px;
        }

        h2 {
            font-size: 1.5em;
        }
    }
    .intro-text {
        overflow-y: scroll;
        height: 100%;

        article {
            img {
                padding: .5em;
            }
        }
    }

    .intro-video {
        height: 100%;
    }

    .intro-controls {
        padding: .75em;
    }

    .checkbox {
        right: 1em;

        label {
            padding-left: 2em;
        }
    }


    .lazyLoad-container {
        height: 100% !important;
    }

    // Edit Modal stuff
    .select-template {
        background-size: 100% 200px;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 200px;
        min-width: 400px;
    }
    .select-av {
        background-image: url(/assets/images/ArticleVideo.png);
    }
    .select-a {
        background-image: url(/assets/images/ArticleOnly.png);
    }
    .select-v {
        background-image: url(/assets/images/VideoOnly.png);
    }

    input.form-control {
        margin: 1em;
        width: 90%;
        position: inherit;
    }

    .trumbowyg-box {
        height: 100%;

        .trumbowyg-editor {
            height: 90% !important;
        }

        textarea {
            height: 100% !important;
        }
    }

    .edit-area {
        height: 80%
    }
    .edit-video-cell {
        height: 94%;
    }
    .edit-cell {
        height: 100%;
    }
    .video-preview {
        height: 100%;
    }

    .action-buttons {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    .alert {
        font-size: 1em !important;
    }
}
