@import "variables.scss";

.project-head {
    position: inherit;
    margin-top: 10px;
    margin-left: 30px;
    width: 30%;

    .row {
        // margin-left: 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        padding: 1em;
    }

    .title {
        font-size: 1.75em;
        line-height: 1;
        color: whitesmoke;
        font-weight: 500;
    }
}
.project-view, .project-edit {
    // padding: 1em 0;
    position: relative;
    width: 100%;
    margin-left: initial;

}
.project-view {
    background-color: material-color(blue, 500) ! important;
}
.project-edit {
    background-color: #4CAF50;
    color: white;

    a {
        color: whitesmoke;
    }
}
nav.btn-group{

    margin: 0;

    a:nth-of-type(1) {
      background-color: material-color(grey, 50);
      &:hover {
          background-color: material-color(blue, 50) ! important;
      }
    }
    a:nth-of-type(2) {
      background-color: material-color(grey, 100);
      &:hover {
          background-color: material-color(blue, 100) ! important;
      }
    }
    a:nth-of-type(3) {
      background-color: material-color(grey, 200);
      &:hover {
          background-color: material-color(blue, 200) ! important;
      }
    }
    a:nth-of-type(4) {
      background-color: material-color(grey, 300);
      &:hover {
          background-color: material-color(blue, 300) ! important;
      }
    }
    a:nth-of-type(5) {
      background-color: material-color(grey, 400);
      &:hover {
          background-color: material-color(blue, 400) ! important;
      }
    }
    a:nth-of-type(6) {
      background-color: material-color(grey, 500);
      &:hover {
          background-color: material-color(blue, 500) ! important;
      }
    }
    a:nth-of-type(7) {
      background-color: material-color(grey, 600);
      &:hover {
          background-color: material-color(blue, 600) ! important;
      }
    }
    &, & .btn{
        border-radius:0;
        padding: 0;
        height: 4em;

        span.nav-icon {
            &:before {
                font-size: 2em;
            }
        }

        span.badge {
            background-color: material-color(deeporangealt, 700);
        }

    }
    .active {
        border-bottom: none;
        z-index: 5;
        opacity: 1;
        background-color: white !important;

        .nav-icon {
            color: #03A9F4;
        }
    }
}
