// This uses Burbon Neat.
$responsive-grid--med-up: (
  media: '(max-width: 1101px)',
  gutter: .5em
);

$responsive-grid--sm-up: (
  media: '(max-width: 768px)',
  gutter: .5em
);

$vector-detail-title-layout: (
  columns: 1,
  gutter: 1em
);
