$small-font-size: .7em;

// Search Tabs
.search-head {
  @include grid-container;
  background-color: color('blue-grey', 'darken-1');
  color: color('grey', 'lighten-5');
  font-size: 1.5em;
  height: 60px;
  overflow: hidden;
  padding-top: .25em;
  position: absolute;
  right: 0;
  top: 0;
  transition: width $turtle;
  width: 0%;
  z-index: 9999;

  &.showing-search-head {
    width: 35%;
  }

  .search-head-title {
    @include grid-column(10);
    margin-top: .45em;
    padding-left: 1em;
  }

}

.search-close-button {
  margin-right: 1.5em;
}

.tabs {
  background-color: color('blue-grey', 'lighten-1');
  height: 4.5em;

  .indicator {
    background-color: $secondary-color;
    height: .25em;
  }

  .tab {
    @include grid-column(4);
    height: auto;
    line-height: 1.75em;
    padding-top: .5em;

    span {
      display: block;
      padding-right: 2em;
    }

    a {
      color: color('grey', 'lighten-4');
      font-size: 1em;

      &:hover {
        color: color('blue-grey', 'lighten-4');
      }
    }

    i {
      font-size: 1.8em;
      vertical-align: middle;
    }

    .result-count {
      background: $secondary-color;
      border-radius: $small-font-size * 5;
      display: inline-block;
      font-size: $small-font-size;
      line-height: 1;
      margin-left: .5rem;
      padding: .4em .75em;
      position: absolute;
      top: $small-font-size;
    }
  }
}

// .ember-burger-menu {
//   position: absolute;
// }

.btn-floating {
  i {
    vertical-align: middle;
  }
}

.remove-institutions {
  padding: .25em 0 .5em;
}

.remove-institution-button {
  background: $secondary-color;
  border-radius: $small-font-size * 5;
  color: $white;
  display: inline-block;
  font-weight: 100;
  padding: .2em .5em;

  i {
    cursor: pointer;
  }
}

.search-text-input {
  width: 80%;
}

.glow-tab {
  animation-duration: $rabbit;
  animation-name: lightup;
  background-color: color('grey', lighten-4);
  bottom: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 33%;
}

@keyframes lightup {

  50% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

// Search tags
.search-tag-list {
  display: inline-grid;
  font-size: 1.25em;
  width: calc(100% - 1em);

  &.is-active {
    .fa-angle-right {
      transform: rotate(45deg);
    }
  }
}

.tag-button,
.tag-button:hover,
.tag-button:focus {
  background-color: transparent;
  color: $primary-color-dark;
  outline: 0;
  padding: .4em;
  text-transform: none;

  // &:hover {
  //   background-color: transparent;
  // }
}

.tag-list {
  font-size: .85em;
  padding-bottom: 1em;
}

// Material Design type input
.search-box {
  height: 4em;

  input 				{
    border: 0;
    border-bottom: 1px solid $primary-color-dark;
    display: block;
    font-size: 18px;
    padding: 10px 10px 0 5px;
    width: 90%;
  }

  input:focus {
    outline: none;
  }

  // LABEL
  label 				 {
    bottom: 45px;
    color: $primary-color;
    font-size: 1.2em;
    font-weight: normal;
    pointer-events: none;
    position: relative;
    transition: bottom $rabbit ease, font-size $rabbit ease, color $rabbit ease;
  }

  // active state
  input:focus ~ label, input:valid ~ label 		{
    bottom: 75px;
    color: $secondary-color;
    font-size: .8em;
  }

  // active state
  input:focus ~ .highlight {
    animation: inputHighlighter $rabbit ease;
  }

  // ANIMATIONS ================
  @keyframes inputHighlighter {
    from {
      background: $secondary-color;
    }

    to {
      background: transparent;
      width: 0;
    }
  }
}
