$small-font-size: .7em;

// Search Tabs


// .search-close-button a {
//   color: $white;
//   float: right;
//   margin-right: 1.5em;
// }

.tabs {
  background-color: color('blue-grey', 'lighten-1');
  height: 5em;

  .indicator {
    background-color: $secondary-color;
    height: .25em;
  }

  .tab {
    @include grid-column(4);
    height: auto;
    line-height: 1.75em;
    padding-top: 1em;

    span {
      display: block;
      padding-right: 2em;
    }

    a {
      color: color('grey', 'lighten-4');
      font-size: 1em;

      &:hover {
        color: color('blue-grey', 'lighten-4');
      }
    }

    i {
      font-size: 1.8em;
      vertical-align: middle;
    }

    .result-count {
      background: $secondary-color;
      border-radius: $small-font-size * 5;
      display: inline-block;
      font-size: $small-font-size;
      line-height: 1;
      margin-left: .5rem;
      padding: .4em .75em;
      position: absolute;
      top: 1em;
    }
  }
}

.btn-floating {
  i {
    vertical-align: middle;
  }
}

.search-box {
  height: 4em;
}

.remove-institutions {
  padding: .25em 0 .5em;
}

.remove-institution-button {
  background: $secondary-color;
  border-radius: $small-font-size * 5;
  color: $white;
  display: inline-block;
  font-weight: 100;
  padding: .2em .5em;

  i {
    cursor: pointer;
  }
}

.glow-tab {
  animation-duration: $rabbit;
  animation-name: lightup;
  background-color: color('grey', lighten-4);
  bottom: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 33%;
}

@keyframes lightup {

  50% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

// Search tags
.search-tag-list {
  display: inline-grid;
  font-size: 1.25em;
  width: calc(100% - 1em);

  &.is-active {
    .fa-angle-right {
      transform: rotate(45deg);
    }
  }
}

.tag-button,
.tag-button:hover,
.tag-button:focus {
  background-color: transparent;
  color: $primary-color-dark;
  outline: 0;
  padding: .4em;
  text-transform: none;
}

.tag-list {
  font-size: .85em;
  padding-bottom: 1em;
}

// FIXME: this should not exist. Somehow, `.active` gets applied to the searc pane.
#search {
  color: black;
}
