// Search Tabs
.search-head {
  @include grid-container;
  background-color: color('blue-grey', 'darken-1');
  color: color('grey', 'lighten-5');
  font-size: 1.5em;
  height: 60px;
  overflow: hidden;
  padding-top: .25em;
  position: absolute;
  right: 0;
  top: 0;
  transition: width $turtle;
  width: 0%;
  z-index: 9999;

  &.showing-search-head {
    width: 35%;
  }

  .search-head-title {
    @include grid-column(10)
    padding-left: 1em;
  }

  .search-close-button {
    @include grid-column(1)
  }
}

.tabs {
  background-color: color('blue-grey', 'lighten-1');
  height: 5.2em;

  .indicator {
    background-color: $secondary-color;
    height: .25em;
  }

  .tab {
    @include grid-column(4);
    height: auto;
    line-height: 1.75em;

    span {
      display: block;
      padding-right: 2em;
    }

    a {
      color: color('grey', 'lighten-4');
      font-size: 1.2em;

      &:hover {
        color: color('blue-grey', 'lighten-4');
      }
    }

    i {
      font-size: 2em;
      vertical-align: middle;
    }

    .result-count {
      $small-font-size: .7em;
      background: $secondary-color;
      border-radius: $small-font-size * 5;
      display: inline-block;
      font-size: $small-font-size;
      line-height: 1;
      padding: .4em .75em;
      position: absolute;
      top: $small-font-size;
    }
  }
}

.ember-burger-menu {
  position: absolute;
}

.btn-floating {
  i {
    vertical-align: middle;
  }
}

// Text Search Clear Button
.clear-text {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: .5em;
  position: absolute;
  right: 16px;
  top: 12.35em;
  visibility: hidden;

  &:focus {
    background-color: transparent;
    border: 0;
  }

  i {
    vertical-align: top;
  }

}

.show-button {
  visibility: visible;
}

.glow-tab {
  animation-duration: $rabbit;
  animation-name: lightup;
  background-color: color('grey', lighten-4);
  bottom: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 33%;
}

@keyframes lightup {

  50% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}
