.opacity-slider {
  margin-left: 1em;

  & input {
    display: none;
  }

  h6 {
    color: color('grey', lighten-1);
    font-size: .85em;
    margin-top: .5em;
  }
}

.slider {
  background-color: $secondary-color;
  border: 0;
  box-shadow: none;
  height: .1em;
  top: .5em;
  width: 100%;
}

.noUi-origin {
  background-color: color('grey', 'lighten-2');

  // Turn the handles grey whe faded all the way out.
  &[style^='left: 0'] {
    .noUi-handle {
      background: color('grey', lighten-2);
    }
  }
}

.noUi-stacking {
  background-color: color('grey', 'lighten-2');
}

.noUi-horizontal {

  .noUi-handle {
    background: $secondary-color;
    border: 0;
    border-radius: 50%;
    box-shadow: none;
    cursor: ew-resize;
    height: 1em;
    left: -.25em;
    top: -.45em;
    width: 1em;

    &::before,
    &::after {
      content: unset;
    }

    &:hover {
      height: 1.5em;
      top: -.7em;
      width: 1.5em;
    }
  }
}

////
//// HTML SLIDER
////
.embed-slider {
  left: 4em;
  position: absolute;
  top: 9em;
  width: 25%;
  z-index: 9999;
}

.value {
  display: none;
}

.thumb {
  &.active {
    display: none;
  }
}

input[type=range] {
  -webkit-appearance: none;
  // width: 100%;
  margin: 17.2px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #f58320; /* For browsers that do not support gradients */
 background: -webkit-linear-gradient(left, #ddd , #f58320); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(right, #ddd, #f58320); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(right, #ddd, #f58320); /* For Firefox 3.6 to 15 */
 background: linear-gradient(to right, #ddd , #f58320); /* Standard syntax */
  border-radius: 5.6px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #eceff1;
  height: 36px;
  width: 36px;
  border-radius: 36px;
  background: #f58320;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -17.2px;
}

input[type=range]:hover::-webkit-slider-thumb {
  height: 48px;
  margin-top: -22px;
  width: 48px;
}
// input[type=range]:focus::-webkit-slider-runnable-track {
//   background: #ddd; /* For browsers that do not support gradients */
//  background: -webkit-linear-gradient(left, #ddd , #f58320); /* For Safari 5.1 to 6.0 */
//  background: -o-linear-gradient(right, #ddd, #f58320); /* For Opera 11.1 to 12.0 */
//  background: -moz-linear-gradient(right, #ddd, #f58320); /* For Firefox 3.6 to 15 */
//  background: linear-gradient(to right, #ddd , #f58320); /* Standard syntax */
// }
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #f58320;
  border-radius: 5.6px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #eceff1;
  height: 36px;
  width: 36px;
  border-radius: 36px;
  background: #f58320;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f47b11;
  border: 0px solid #010101;
  border-radius: 11.2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #f58320;
  border: 0px solid #010101;
  border-radius: 11.2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #eceff1;
  height: 36px;
  width: 36px;
  border-radius: 36px;
  background: #f58320;
  cursor: pointer;
  height: 1.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #f58320;
}
input[type=range]:focus::-ms-fill-upper {
  background: #f68b2f;
}

///
///
///

// body {
//     height: 100vh;
//     margin: 0;
//     display: flex;
// }
//
// input[type="range"] {
//     margin: auto;
//     -webkit-appearance: none;
//     position: relative;
//     overflow: hidden;
//     height: 20px;
//     width: 200px;
//     cursor: pointer;
//     border-radius: 0; /* iOS */
// }
//
// ::-webkit-slider-runnable-track {
//     background: #ddd;
// }
//
// /*
//  * 1. Set to 0 height and width, and remove border for a slider without a thumb
//  */
// ::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     width: 20px; /* 1 */
//     height: 20px; /* 1 */
//     background: #fff;
//     box-shadow: -100vw 0 0 100vw #f58320;
//     border: 2px solid #000; /* 1 */
// }
//
// ::-moz-range-track {
//     height: 20px;
//     background: #ddd;
// }
//
// ::-moz-range-thumb {
//     background: #000;
//     height: 20px;
//     width: 20px;
//     border: 3px solid #999;
//     border-radius: 0 !important;
//     box-shadow: -100vw 0 0 100vw #f58320;
//     box-sizing: border-box;
// }
//
// ::-ms-fill-lower {
//     background: dodgerblue;
// }
//
// ::-ms-thumb {
//     background: #fff;
//     border: 2px solid #999;
//     height: 20px;
//     width: 20px;
//     box-sizing: border-box;
// }
//
// ::-ms-ticks-after {
//     display: none;
// }
//
// ::-ms-ticks-before {
//     display: none;
// }
//
// ::-ms-track {
//     background: #ddd;
//     color: transparent;
//     height: 20px;
//     border: none;
// }
//
// ::-ms-tooltip {
//     display: none;
// }
