.social-auth-btn {
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 400;
  // margin-bottom: 1em;
  margin-top: 1em;
  padding: .25em;
  // width: 75%;
}

.google-icon,
.facebook-icon {
  margin-top: .1em;
  padding-left: .25em;
  vertical-align: middle;
}

.social-provider {
  margin-left: 15%;
  margin-right: 15%;
}

.sign-btn {
  border: 1px solid color('grey', 'base');
  color: color('grey', 'darken-4');
  line-height: 2em;
  margin-bottom: .25em;
  margin-top: .25em;
}
