.providers {
  @include outer-container;
  // margin-left: 15%;
  // margin-right: 15%;
  padding: .5em;

  .social-provider {
    @include span-columns(3);
    border-radius: 3px;
    font-size: 1.5em;
    padding: .5em;
    text-align: center;

    i {
      margin: 0 auto;
    }

    &:first-child {
      @include shift(3);
    }

  }

  // .provider-name {
  //   @include span-columns(10);
  // }
}

.login-btns {
  @include outer-container;
}

.login-btn-group {
  @include span-columns(6);
  font-size: 1.75em;
}

.login-btn {
  @include span-columns(12);

}

.login-form {
  .button-group {
    margin-bottom: 2em;
  }
}
