.tag-list {

    i {
        font-size: initial;
    }
    .col-xs-1 {
        width: 5%;
        bottom: 5px;
    }
    .col-xs-11 {
        font-size: small;
        line-height: 1;
        padding-left: 0px;
    }

}
