@import "variables.scss";

.togglebutton.toggle-all {
    margin-top: 1em;
    label {
        padding-right: .5em;
    }
}

.togglebutton.single-vector {
    margin-top: .65em;
    padding-right: .5em;
}

.togglebutton.opacity label input[type=checkbox]:first-child:checked + .toggle {
  background-color: rgba(material-color(deeporangealt, 200), 0.5);
}

.togglebutton.opacity label input[type=checkbox]:first-child:checked + .toggle:after {
  background-color: material-color(deeporangealt, 200);


}

.togglebutton.single-vector {
    span.toggle {
        height: 10px;
        margin-right: .1em;

        &:after{
            width: 15px;
            height: 15px;
            top: -4px;
        }
    }
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .5;

}
