// .user-menu {
//   // background-color: color('grey', 'lighten-3');
//   background-color: color('blue-grey', 'lighten-5');
//   font-size: 16px;
//   max-height: 0;
//   overflow: hidden;
//   padding: 0 1em;
//   position: absolute;
//   right: 0;
//   top: 60px;
//   transition: max-height $turtle ease-in-out, overflow $turtle ease-in-out, padding $turtle ease-in-out;
//   width: 300px;
//
//   section {
//     @include grid-container;
//
//     span {
//       @include grid-column(12);
//       padding: .25em 0;
//     }
//
//     .toggle-action {
//       width: 100%;
//     }
//   }
//
//   .sign-btn {
//     color: $primary-color-dark;
//   }
//
//   label {
//     color: color('blue-grey', 'darken-4');
//   }
//
//

.login-form {
  @include grid-container;
  background-color: $white;
  margin: 0 auto;
  width: 35vw;

  .authenticating {
    background-color: rgba(255, 255, 255, .84);
    font-size: 20vh;
    height: 100%;
    left: 0;
    // padding: 25% 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    i {
      color: $secondary-color;
      margin: 25% auto;
    }
  }

  button {
    margin-left: 1em;
    margin-top: .5em;
    padding: .5em 1em;
  }

  section {
    @include grid-column(12);
    padding: .75em .25em;
    text-align: center;

    label {
      text-align: left;
    }
  }

  a {
    color: $secondary-color;
    font-weight: 900;
  }

  .fine-print {
    font-size: .7em;
    font-weight: 200;
    margin-top: .5rem;
    text-align: center;
  }
}

// .providers {
//   font-size: 2em;
//   padding: .5em;

  .social-provider {
    @include grid-column(6);
    border-radius: 3px;
    cursor: pointer;
    font-size: 2em;
    padding: .5em;
    text-align: center;

    i {
      // margin-left: 10%;
    }

  }

// }

.login-btn {
  width: 100%;

}

.button-group-item {
  // pointer-events: none;
}
// }
//
// .user-menu-show {
//   max-height: 75vh;
//   overflow: auto;
//   padding: 1em;
//   padding-top: 2em;
//   z-index: 1;
// }
//
// .ignore-click {
//   padding-bottom: 1em;
//   vertical-align: top;
// }
//
