.user-menu {
  // background-color: color('grey', 'lighten-3');
  background-color: color('blue-grey', 'lighten-5');
  font-size: 16px;
  max-height: 0;
  overflow: hidden;
  padding: 0 1em;
  position: absolute;
  right: 0;
  top: 54px;
  transition: max-height $turtle ease-in-out, overflow $turtle ease-in-out, padding $turtle ease-in-out;
  width: 300px;

  section {
    @include outer-container;

    span {
      @include span-columns(12);
      padding: .25em 0;
    }
  }

  .sign-btn {
    color: $primary-color-dark;
  }

  label {
    color: color('blue-grey', 'darken-4');
  }
}

.user-menu-show {
  max-height: 75vh;
  overflow: auto;
  padding: 1em;
  padding-top: 2em;
  z-index: 1;
}

.ignore-click {
  padding-bottom: 1em;
  vertical-align: top;
}
