$zero: 0;
$loading: 'Loading';
$marker-icon: '\e55f';
$layer-icon: '\e53b';
$line-icon: '\e922';
$empty: '';
$check-border-color: #0398db;
$blue: #0091ea;
$lightgrey: #eee;
$grey: #757575;
$darkgrey: #212121;
$whitesmoke: #f5f5f5;
$white: #fff;
$faded-white: rgba(255, 255, 255, .3);
$faded-black: rgba(0, 0, 0, .1);
$border: #adadad;
$shadow: 3px 3px 3px rgba(0, 0, 0, .4);
$shadow5: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
$rabbit: 200ms;
$turtle: 500ms;
$col1: 5em;
