.vector-options {
    pointer-events: all;
    padding-right: .75em;
    cursor: pointer;
}

.vector-layer-options-modal {
    width: 20%;
}

h5.delete {
    i {
        color: material-color(md_deeporangealt, 100);
        &:hover {
            color: material-color(md_deeporangealt, 400);
        }

    }
}
