.vector-info {
  border: .1em solid color('grey', 'lighten-2');
  border-radius: .5em;
  display: none;
  left: 10em;
  top: 7em;
  transition: none;
}

// // Also defined in project-pane.scss
.vector-detail-title {
  background-color: color('blue-grey', 'lighten-5');
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;

  .close-button {
    padding-top: 0;
  }
}

// Originally defined in project-pane.scss
.vector-detail-container {
  background-color: $white;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  cursor: default;
  height: 50vh;
}

.vector-content {
  &.layer-icon {
    font-size: 3em;
    padding: 0;

    .map-marker {
      bottom: .25em;
      font-size: 1em;
      left: .5em;
    }
  }

  &.title {
    font-size: large;
  }

  &.layer-title {
    color: color('grey', darken-1);
    font-size: medium;
  }
}

.marker-content {
  padding: 1.5em;

  img {
    display: block;
    max-height: 45rem;
    max-width: 100%;
  }
}
