// This is a hacky class to hide the parent tether dialog
// No longer needed?
.hack {
  background: transparent;
  box-shadow: none;
}

.resize-drag {
    background-color: white;
    color: material-color(md_grey, 900);
    padding: 0 0.75em;
    margin: 30px 20px;
    overflow: auto;
    width: 35em;
    max-height: 90vh;
    /* This makes things *much* easier */
    box-sizing: border-box;
    border: solid thin material-color(md_grey, 700);
    border-radius: 0.3em;

    .vector-info-head.row {
        box-shadow: 0 1em 1.25em -1em material-color(md_grey, 600);
        margin-bottom: 0.5em;
        padding-top: 0.5em;
        background-color: material-color(md_grey, 200);

        .point-data {
            &:before {
                font-size: 1.5em;
            }
        }

        .title {
            font-size: 1.5em;
        }
    }

    .marker-content {
        background-color: white;
        padding: 1.5em;

        img {
            max-width: 100%;
            max-height: 45rem;
            display: block;
        }
    }
}

.resize-container {
    height: 240px;
    position: absolute;
    z-index: 1;
    top: 5em;
    left: 7em;
}
.vector-info {
    display: none;
}
