<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      <th class="uk-table-shrink">Keys</th>
      <th class="uk-table-expand">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>Alt + Shift + C</td>
        <td>Hide or show all layers</td>
    </tr>
      <tr>
        <td>ESC</td>
        <td>Hide this or any other pop-up window</td>
      </tr>
    <tr>
        <td>Alt + Shift + O</td>
        <td>Hide project menu</td>
    </tr>
    <tr>
        <td>Alt + Shift + I</td>
        <td>Show project info</td>
    </tr>
    <tr>
        <td>Alt + Shift + M</td>
        <td>Show project map layers</td>
    </tr>
    <tr>
        <td>Alt + Shift + P</td>
        <td>Show project place layers</td>
    </tr>
    <tr>
        <td>Alt + Shift + D</td>
        <td>Show project data layers</td>
    </tr>
    <tr>
        <td>Alt + Shift + E</td>
        <td>Show project edit options</td>
    </tr>
  </tbody>
</table>