{
  "extends": "airbnb-base",

  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  # Severity: 0 = off, 1 = warn, 2 = error.
  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "indent": [2, 4],
    "func-names": 0,
    "no-use-before-define": [2, "nofunc"],
    "prefer-arrow-callback": 0,
    "prefer-rest-params": 0,
    "import/no-unresolved": 0,
    "no-underscore-dangle": 0,
    "comma-dangle": ["error", "never"],
    "space-before-function-paren": ["error", "never"]
  }
}
