{{#project-pane title='Select Base Map' model=model.project}}
{{#if model.project.editing}}
  <div class='row' class='wave save-pane-state'>
    <div class='col s12'>
      <a class="btn btn-success btn-flat btn-xs white-text" {{action 'setCenterAndZoom' model.project}}>
          Set Center and Zoom Level
      </a>
    </div>
  </div>
{{/if}}
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Base Maps</span>
          <p>
            <a {{action 'setBase' 'street' model isEditing}} title="Open Street Map" class="btn btn-default base-preview street"></a>
            <a {{action 'setBase' 'satellite' model isEditing}} title="Satellite" class="btn btn-default base-preview satellite"></a>
          </p>
        </div>
        {{!-- <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div> --}}
      </div>
    </div>
  </div>
{{/project-pane}}
