<section class="cotainer">
    <div class="browse-pane">
        {{browse-text getResults='getResults'}}
        <hr />
        {{browse-tags model=categories getResults='getResults'}}
        <hr />
        {{browse-years model=yearRange getResults='getResults'}}
        <hr />
        {{browse-institution model=institutions getResults='getResults'}}
    </div>
</section>
