{{outlet}}
<div class="project-info-card card">
    <h1>{{introSeen}}</h1>
    <article>{{{model.description}}}</article>
    {{#if model.intro}}
        {{project-intro-modal action='showHideIntro' project=model template=model.templateSlug seen=introSeen}}
    {{/if}}
</div>
