{{#project-pane title='Maps' model=model.project raster=true}}
    {{#sortable-group tagName="ul" class='scrollable-list project-collapsible' model=model onChange="reorderItems" as |group|}}
        {{#each model.project.sortedRasterLayers as |layer|}}
            {{#sortable-item tagName="li" class='sortable-item layer-list-item' id=raster.raster_layer.name model=layer group=group handle=".reorder-handle" }}
                {{#if layer.raster_layer.name}}

                    {{#layer-list-item layer=layer.raster_layer project=model.project showSlider=true}}

                        {{#layer-item-title layer=layer.raster_layer layers=model.project.raster_layer}}
                          <span class='layer-list-item-icon vector-icon
                            layer-{{layerraster_layer.colorName}} {{layer.raster_layer.data_type}}'>
                          </span>
                        {{/layer-item-title}}

                        <div class='layer-list-item-secondary-action'>
                          <div class='secondary-action-row'>
                            <i class="fa fa-drag-handle reorder-handle" aria-hidden="true"></i>
                            </div>
                        </div>
                    {{/layer-list-item}}
                {{else}}
                    Loading...
                {{/if}}
            {{/sortable-item}}
            {{else}}
              <div class='neat-row'>
                <h4>No maps have been added</h4>
              </div>
        {{/each}}
    {{/sortable-group}}
{{/project-pane}}
