{{#project-pane title='Maps' model=model.project raster=true}}
  <div class='card'>
    {{#sortable-group tagName="ul" class='scrollable-list project-collapsible' model=model onChange="reorderItems" as |group|}}
      {{#each model.project.sortedRasterLayers as |layer|}}
        {{#sortable-item tagName="li" class='sortable-item' id=raster.raster_layer_id.name model=layer group=group handle=".reorder-handle" }}
          {{#layer-list-item layer=layer.raster_layer_id showSlider=true}}
          {{layer-item-title layer=layer.raster_layer_id layers=model.project.raster_layer_ids}}
          <div class='secondary-conent reorder-handle col s2'>
            <div class='row'>
              <div class='col s12'>
                <i class='material-icons right'>code</i>
              </div>
            </div>
            {{remove-layer-button model=model layer=layer}}
            <div class='row'>
              {{#if layer.raster_layer_id.name}}
              {{shareable-link layer=layer.raster_layer_id}}
              {{/if}}
            </div>
          </div>
          {{/layer-list-item}}
        {{/sortable-item}}
        {{else}}
          <h4 class='row'>No maps have been added</h4>
      {{/each}}
    {{/sortable-group}}
  </div>
{{/project-pane}}
