{{#project-pane title='Maps' }}

  {{#sortable-group tagName="ul" class='scrollable-list collapsible' data-collapsible="accordion" model=model onChange="reorderItems" as |group|}}
    {{#each model.sortedRasterLayers as |raster|}}


      {{#sortable-item tagName="li" class='sortable-item' model=raster group=group handle=".reorder-handle" }}
        <div class='collapsible-header'>
          <div class='row'>
            {{!-- <div class='col s1'>
              <i class="material-icons">layers</i>
            </div> --}}
            <div class='title col s11'>
              {{if raster.raster_layer_id.name raster.raster_layer_id.title 'Loading...'}}
            </div>
            <div class='secondary-conent right reorder-handle col s1'>
              <i class='material-icons'>code</i>
            </div>
          </div>
        </div>

        <div class='slider-container'>
          {{#if raster.raster_layer_id.slider_id}}
            {{opacity-slider projLayer=raster layer=raster.raster_layer_id}}
          {{/if}}
        </div>

        <div class='collapsible-body card-content'>
          <p class='black-text'>
            {{if raster.raster_layer_id.description raster.raster_layer_id.description 'No description :('}}
          </p>
          {{layer-citation layer=raster.raster_layer_id}}
        </div>
      {{/sortable-item}}

    {{/each}}
  {{/sortable-group}}
{{/project-pane}}
