    <div class="banner pink">
        <div class="container">
            <header>
                <h2>Map Projects </h2>
            </header>
        </div>
    </div>
    <div class="banner pink blurred">
        <div class="container">
            <article>
                {{#if session.isAuthenticated}}
                    <header class="row">
                        <div class="col-sm-7">
                            <h2>
                                <a class="btn btn-info btn-fab" {{action 'createProject'}}><span class="mdi-content-add"></span></a><span>My Projects</span>
                            </h2>
                        </div>
                    </header>
                    <hr/>
                    {{my-projects}}
                    {{my-collaborations}}
                {{/if}}
                {{published-projects}}
            </article>
        </div>
    </div>