<div class="banner pink">
    <div class="container">
        <header>
            <h2>Projects</h2>
        </header>
    </div>
</div>
<div class="banner pink blurred">
    <div class="container">
        <div class="list-group row">

            {{# each model as |project|}}
            <div class="col-md-4">
                <div class="project list-group-item">
                    <div class="row-action-primary">
                        <i class="material-icons">map</i>
                    </div>
                    <div class="row-content">
                        <div class="row">
                            <div class="col-xs-8">
                                <h4 class="list-group-item-heading">{{#link-to 'project.info' project}}{{project.name}}{{/link-to}}</h4>
                            </div>
                            <div class="col-xs-4">
                                {{#if project.is_mine}}
                                <div class="action-secondary"><i class="material-icons">delete_forever</i></div>
                                {{/if}}
                            </div>
                        </div>
                        <p class="list-group-item-text">{{project.description}}</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{liquid-outlet}}
