<div class="uk-width-1-6 uk uk-text-center uk-margin-small-top">
  <UkButton @color="link" class="uk-text-left" {{on "click" (perform @addRemove @layer)}}>
    {{#if @layer.onMap}}
      <FaIcon @icon="check-circle" @prefix="far" class="uk-margin-small-right atlm-add-remove-icon" />
    {{else}}
      <FaIcon @icon="plus-circle" class="uk-margin-small-right atlm-add-remove-icon" />
    {{/if}}
  </UkButton>
</div>
{{yield}}