
.icon-database:before { content: '\e800'; } /* '' */
.icon-polygon:before { content: '\e801'; } /* '' */
.icon-hexagon:before { content: '\e802'; } /* '' */
.icon-polyline:before { content: '\e803'; } /* '' */