<div id="atlm-layer-search-panel" {{did-insert (fn this.initOffcanvas)}} {{will-destroy (fn this.willDestroyNode)}}>
    <div ...attributes class="uk-offcanvas-bar">
      {{yield}}
    </div>
</div>
<div class="atlm-toggle-layer-search">
  <UkButton uk-toggle class="atlm-large-button" target="#atlm-layer-search-panel" @size="large" @color="secondary">
    Add Layers
  </UkButton>
</div>