<div id="off-canvas-container"></div>
<div id="atlm-layer-search-panel" uk-offcanvas="flip: true">
    <div ...attributes class="uk-offcanvas-bar">
      {{yield}}
    </div>
</div>
<div class="atlm-toggle-layer-search">
  <UkButton class="atlm-large-button" uk-toggle="target: #atlm-layer-search-panel" @size="large" @color="secondary">
    Add Layers
  </UkButton>
</div>
