<div
  class="uk-text-center uk-grid-collapse uk-child-width-1-1 atlm-toggle"
  tabindex="0"
  role="button"
  {{on 'click' this.toggleVisible}}
  {{on 'keyup' this.toggleVisible }}
  uk-grid
  {{did-insert this.initToggle}}
>
  {{#if @project.allLayersHidden}}
    <div class="atlm-toggle-switch">
      <FaIcon @icon="toggle-off" />
    </div>
    <div class="atlm-toggle-status">
      Show Layers
    </div>
  {{else}}
    <div class="atlm-toggle-switch">
      <FaIcon @icon="toggle-on" />
    </div>
    <div class="atlm-toggle-status">
      Hide Layers
    </div>
  {{/if}}
</div>