<div class="banner orange">
  <div class="container">
    <header>
        <h2>About</h2>
    </header>
  </div>
</div>
<div class="banner orange blurred">
  <div class="container static">
    <article>
      <section class='burbon'>
        <section class='twelve'>
          <h1>Vision</h1>
          <img alt='Map ledgend "negro" residential areas of Atlanta' src='/assets/images/yup.png' class='inline-image'/>
          The ATLMaps platform, a collaboration between Georgia State University and Emory University, combines archival maps, geospatial data visualization, and user contributed multimedia location pinpoints to promote investigation into any number of issues about Atlanta. While currently focused on one city to demonstrate the power of stacking thousands of layers of information on one place, this innovative online platform will eventually allow users to layer an increasing number of interdisciplinary data to address the complex issues that any city poses. The project looks to offer a framework that incorporates storytelling reliant on geospatial data and for normalizing input across a range of data sets about so that material can be cross-compared in novel ways, allowing users to make connections between seemingly unrelated data sources and ask questions that would not be apparent when only looking at one particular project. The ATLMaps project will also encourage knowledgeable members of the university and local communities to curate data on the site to demonstrate the possibilities for synthesizing material across projects and data types.
        {{!-- </section>
        <section class='four'> --}}
        </section>
      </section>

      <section class='burbon'>
        <section class='twelve'><h1>Support</h1>
        ATLMaps is made possible with the generous support of Georgia State University, Emory University, and the Knight Foundation.  That support began with two consecutive CITIES awards for funding by Georgia State in 2012 and 2013, continuing support from Emory University Libraries & Information Technology and the Emory Center for Digital Scholarship, and a Knight Foundation Knight News Challenge Award in 2016.  If you or your organization like the work we're doing and have an idea about how to support and further it, please get in touch!</section>
      </section>

      <section class='bios burbon'>
        <section class='twelve'><div class='bio'>
          <h1>Team</h1>
          <div class='bio-photo'>
            <span><img src='/assets/images/bios/BrennanCollins.3.png' /></span>
          </div>
          <div class='bio-content'>
            <h2>Brennan Collins</h2>
            Brennan is the Associate Director of Writing Across the Curriculum and the Center for Excellence in Teaching and Learning at Georgia State University. The interdisciplinary nature and technology focus of these programs allows him to work with a diverse faculty in exploring inventive pedagogies. He is particularly interested in creating interinstitutional Atlanta projects and platforms to develop student critical thinking and opportunities for community engagement.
          </div>
        </div>

        <div class='bio'>
          <div class='bio-content'>
            <h2>Joe Hurley</h2>
            Joe is the Data Services and GIS Librarian at Georgia State University where he creates open digital resources that aid in the study and teaching of urban change in Atlanta and the United States.  He also provides GIS and demographic data support.  Joe led the NEH funded <a href='http://digitalcollections.library.gsu.edu/cdm/planningatl' title='Planning Atlanta'>Planning Atlanta</a> digital project and his research interests include urban history, city planning history, historical GIS, urban renewal, and demographic, land use, and built environment change.
          </div>
          <div class='bio-photo'>
            <span><img src='/assets/images/bios/joe_hurley-300x300.jpg' /></span>
          </div>
        </div>

        <div class='bio'>
          <div class='bio-photo'>
            <span><img src='/assets/images/bios/ashley.png' /></span>
          </div>
          <div class='bio-content'>
            <h2>Ashley Cheyemi McNeil</h2>
            Ashley Cheyemi is is a bi-national PhD candidate in multi-ethnic American literature at Georgia State University and in American Studies at Johannes Gutenberg University in Germany. She is particularly invested in leveraging digital platforms to connect local communities to students' higher ed tenures. Ashley Cheyemi is ATLMaps' project manager for the Student Innovation Fellowship through the Center of Excellence for Teaching and Learning at GSU.
          </div>
        </div>

        <div class='bio'>
          <div class='bio-content'>
            <h2>Ben Miller</h2>
            Ben (Ph.D., Emory, Comparative Literature) is Assistant Professor of English and Communication at Georgia State University where he works on problems of narrative, storytelling, memory, and technology.  His research, with support from the NSF, SSHRC, NEH, DoD, Knight Foundation, Royal Netherlands Academy of Arts and Sciences, and others, asks how computational media changes the ways we produce and consume stories, and how it influences our textual relations.  By investigating how methods in computational linguistics can facilitate the linking of stories from across corpora of news articles, government reports, and autobiographical witness statements; how methods in machine learning can help understand and moderate hate speech in online communication platforms; and how traditional models of narrative can be extended to computational, multi-linear, generative, and procedural stories, Ben's work connects theory and practice to better understand social and technological phenomena.  Prior to joining the faculty at GSU in 2011, Ben has held academic positions at the University of North Florida, M.I.T., and the Georgia Institute of Technology.
          </div>
          <div class='bio-photo'>
            <span><img src='/assets/images/bios/BenMiller.png' /></span>
          </div>
        </div>

        <div class='bio'>
          <div class='bio-photo'>
            <span><img src='/assets/images/bios/new-megan.png' /></span>
          </div>
          <div class='bio-content'>
            <h2>Megan Slemons</h2>
            Megan is the GIS Librarian at the Emory Center for Digital Scholarship at Emory University. She works with students and faculty to incorporate geospatial technologies into their research and teaching. She offers consultations on using geospatial tools, finding and using data, and designing projects with spatial components. Megan also teaches workshops, provides classroom instruction, works to develop and provide access to the libraries' geospatial data and map collections, and contributes to digital projects.
          </div>
        </div>

        <div class='bio'>
          <div class='bio-content'>
            <h2>Jay Varner</h2>
            Jay is the lead software engineer at the Emory Center for Digital Scholarship at Emory University. In the center, Jay works with scholars and researchers to develop new ways to interact with data and information. He has been developing web apps for universities, start-ups, non-profits, and public defenders since 1998. Jay is currently pursuing a master's in user experience design from Kent State University, where he expects to graduate in the spring of 2018.
          </div>
          <div class='bio-photo'>
            <span><img src='/assets/images/bios/jay.jpg' /></span>
          </div>
        </div>
      </section>

      </section>

    <section class='burbon'>
      <section class='twelve'><h1>Contributors and Prior Team Members</h1>
    <ul class='default'>
      <li><strong>Kevin Glover:</strong> Software Engineer at Experience</li>
      <li><strong>Tim Hawthorne:</strong> Assistant professor of geographic information systems (GIS) in the department of sociology at the University of Central Florida</li>
      <li><strong>Sarah Melton:</strong> Head of Digital Scholarship at Boston College</li>
      <li><strong>Chad Nelson:</strong>  Lead Technology Developer with Temple University Libraries</li>
      <li><strong>Michael Page:</strong> Lecturer in Geospatial Sciences and Technology in the Department of Environmental Sciences at Emory University</li>
      <li><strong>Jack Reed:</strong> Geospatial Web Engineer with Stanford University Libraries' Digital Library Systems and Services</li>
      <li><strong>R. Stewart Varner:</strong> Managing Director of the Price Lab for Digital Humanities at the University of Pennsylvania</li>
    </ul></section>
  </section>

      <section class='bourbon'>
        <section class='twelve'><h1>Technologies</h1>
        <h3>Platforms/Software/Libraries</h3>
        ATLMaps platform is an open source porject made possiable by the Open Source community. Here is a list of the core technologies that power the project.
        <ul>
          <li>
            <a href='https://emberjs.com' title='Ember J S'>Ember JS</a>
          </li>
          <li>
            <a href='http://rubyonrails.org/' title='Ruby on Rails'>Ruby on Rails</a>
          </li>
          <li>
            <a href='http://leafletjs.com/' title='Leaflet'>Leaflet JS</a>
          </li>
          <li>
            <a href='https://www.openstreetmap.org/#map=13/33.7643/-84.3889' title='Open Street Map'>OpenStreetMap</a>
          </li>
          <li>
            <a href='http://postgis.net/' title='Post G I S'>PostGIS</a>
          </li>
          <li>
            <a href='http://www.gdal.org/' title='gdal'>GDAL</a>
          </li>
          <li>
            <a href='http://geoserver.org/' title='Geo Server'>GeoServer</a>
          </li>
        </ul>
        <h3>Base Maps</h3>
        The base maps used in ATLMaps are generously provided by:
        <ul>
          <li>
            <strong>Street Map:</strong> <a href='https://www.openstreetmap.org/#map=13/33.7643/-84.3889' title='Open Street Map'>OpenStreetMap</a>
          </li>
          <li>
            <strong>Satellite Imagery</strong> Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community
          </li>
          <li>
            <strong>Labels</strong> <a href="http://cartodb.com/attributions">CartoDB</a> and <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>
          </li>
          <li>
            <strong>Greyscale</strong> <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>
          </li>
        </ul></section>
      </section>
    </article>
  </div>
</div>
