<div class="citation">
	<div class="pull-right">
		<img src='{{layer.institution.icon}}' alt='Logo' class="institution_logo pull-right" />
	</div>
	<div class="provided">Provided by:</div>
	<div class="institution">{{layer.institution.name}}</div>
</div>
