<footer>
	<section class="row">
		<section class="col-xs-8">
			<h1>Provided by:</h1>
			<h2>{{layer.institution.name}}</h2>
		</section>
		<section class="col-xs-4">
			<img src='{{layer.institution.icon}}' alt='Logo' class="institution_logo" />
		</section>
	</section>
</footer>
