<div class="marker-data draggable">
	<div class="panel-controls btn-group btn-group-justified">

		<a {{action "snapBack" }} title="Snap Back" class="btn btn-default"><i class="material-icons">arrow_back</i></a>

		<a href="javascript:void(0)" class="btn btn-default drag-window" title="Move"><i class="material-icons">open_with</i></a>

		<a {{action "closeMarkerInfo" }} title="Close" class="btn btn-default"><i class="material-icons">clear</i></a>

	</div>
	<div class="marker-content"></div>
</div>
<hr />
