<div class="marker-data draggable">
	<div class="panel-controls btn-group btn-group-justified">
	
		<a {{action "snapBack" }} title="Snap Back" class="btn btn-default"><span class="mdi-navigation-arrow-back"></span></a>

		<a href="javascript:void(0)" class="btn btn-default" title="Move"><span class="mdi-action-open-with"></span></a>

		<a {{action "closeMarkerInfo" }} title="Close" class="btn btn-default"><span class="mdi-content-clear"></span></a>

	</div>
	<div class="marker-content"></div>
</div>
<hr />