<div class="col-md-6">
    <div class="project list-group-item">
        <div class="row-action-primary">
            {{#link-to 'project.info' project}}
            <i class="material-icons">map</i>
            {{/link-to}}
        </div>
        <div class="row-content">
            <div class="row">
                <div class="col-xs-10">
                    <h3 class="list-group-item-heading">{{#link-to 'project' project}}{{project.name}}{{/link-to}}</h3>
                </div>
                <div class="col-xs-2">
                    {{#if project.is_mine}}
                    <div class="action-secondary">
                        <a {{action 'deleteProject' project.id}} title="Delete Project">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </div>
                    {{/if}}
                </div>
            </div>
            <p class="list-group-item-text">{{project.description}}</p>
        </div>
    </div>
</div>
