<div class="banner orange">
  <div class="container">
    <header>
        <h2>About</h2>
    </header>
  </div>
</div>
<div class="banner orange blurred">
  <div class="container">
    <article>
      {{!-- <ul>
        <li>Linking a storytelling geospatial platform to archives</li>
        <li>Connecting the archives of multiple institutions</li>
        <li>Encouraging the mash up of interdisciplinary layers</li>
        <li>Synthesizing multiple types of data</li>
      </ul> --}}
      <h2>Vision</h2>
      <p>
        The ATLmaps platform, a collaboration between Georgia State University and Emory University, combines archival maps, geospatial data visualization, and user contributed multimedia location pinpoints to promote investigation into any number of issues about Atlanta. While currently focused on one city to demonstrate the power of stacking thousands of layers of information on one place, this innovative online platform will eventually allow users to layer an increasing number of interdisciplinary data to address the complex issues that any city poses. The project looks to offer a framework that incorporates storytelling reliant on geospatial data and for normalizing input across a range of data sets about so that material can be cross-compared in novel ways, allowing users to make connections between seemingly unrelated data sources and ask questions that would not be apparent when only looking at one particular project. The ATLmaps project will also encourage knowledgeable members of the university and local communities to curate data on the site to demonstrate the possibilities for synthesizing material across projects and data types.
      </p>
      <h2>Support</h2>
      <p>
        ATLmaps is made possible with the generous support of Georgia State University, Emory University, and the Knight Foundation.  That support began with two consecutive CITIES awards for funding by Georgia State in 2012 and 2013, continuing support from Emory University Libraries & Information Technology and the Emory Center for Digital Scholarship, and a Knight Foundation Knight News Challenge Award in 2016.  If you or your organization like the work we're doing and have an idea about how to support and further it, please get in touch!
      </p>
      {{!-- <h2>Platform</h2>
      <p>Rails and Ember</p>
      <h3>Base Maps</h3> --}}
      <h2>The Team</h2>
      <h3>Core Team</h3>
      <p>
      <ul class='default'>
        <li>Brennan Collins</li>
        <li>Joe Hurley</li>
        <li>Ben Miller</li>
        <li>Megan Slemons</li>
        <li>Jay Varner</li>
      </ul>
    </p>
      <h3>Contributors</h3>
      <p>
      <ul class='default'>
        <li>Kevin Glover</li>
        <li>Tim Hawthorne</li>
        <li>Sarah Melton</li>
        <li>Michael Page</li>
        <li>Jack Reed</li>
        <li>R. Stewart Varner</li>
      </ul>
      </p>
    </article>
  </div>
</div>
