<div class="banner orange">
      <div class="container">
        <header>
            <h2>About</h2>
        </header>
      </div>
    </div>
    <div class="banner orange blurred">
      <div class="container">
        <article>
            <p>ATLMaps is a collaboration between Georgia State University and Emory University. The project is in active and heavy development.</p>
            <p>The ATLmaps project combines archival maps, geospatial data visualization, and user contributed multimedia location pinpoints to promote investigation into any number of issues about Atlanta.  This innovative online platform will allow users to layer an increasing number of interdisciplinary data to address the complex issues that cities pose.  The project looks to offer a framework that incorporates storytelling reliant on the geospatial data and for normalizing input across a range of data sets about Atlanta so that material can be cross-compared in novel ways, allowing users to make connections between data sources and ask questions that would not be apparent when only looking at one particular project.  The ATLmaps project will also encourage knowledgeable members of the university and local communities to curate data on the site to demonstrate the possibilities for synthesizing material across projects and data types.</p>
        </article>
      </div>
    </div>