<div class="banner orange">
  <div class="container">
    <header>
        <h2>About</h2>
        <ul>
            {{#each project.raster_layer_project_ids as |rasters|}}
            <li>
            {{rasters.raster_layer.title}}
        </li>

            {{/each}}
        </ul>
    </header>
  </div>
</div>
<div class="banner orange blurred">
  <div class="container">
    <article>
        <p>ATLMaps is a collaboration between Georgia State University and Emory University. The project is in active and heavy development.</p>
        <p>The ATLmaps project combines archival maps, geospatial data visualization, and user contributed multimedia location pinpoints to promote investigation into any number of issues about Atlanta.  This innovative online platform will allow users to layer an increasing number of interdisciplinary data to address the complex issues that cities pose.  The project looks to offer a framework that incorporates storytelling reliant on the geospatial data and for normalizing input across a range of data sets about Atlanta so that material can be cross-compared in novel ways, allowing users to make connections between data sources and ask questions that would not be apparent when only looking at one particular project.  The ATLmaps project will also encourage knowledgeable members of the university and local communities to curate data on the site to demonstrate the possibilities for synthesizing material across projects and data types.</p>
    </article>
  </div>
</div>
<div class="thumb tright"> <div class="thumbinner" style="width:222px;"><a href="/wiki/File:Reynoldstown2.JPG" class="image"><span class="mw-mf-image-replacement">[Image]</span></a> <div class="thumbcaption"> <div class="magnify"><a href="/wiki/File:Reynoldstown2.JPG" class="internal" title="Enlarge"></a></div> Reynoldstown logo on rail yard wall</div> </div> </div> <div class="thumb tright"> <div class="thumbinner" style="width:222px;"><a href="/wiki/File:Reynoldstown3.JPG" class="image"><span class="mw-mf-image-replacement">[Image]</span></a> <div class="thumbcaption"> <div class="magnify"><a href="/wiki/File:Reynoldstown3.JPG" class="internal" title="Enlarge"></a></div> Gateway Park - sign and sculpture (design Brent "BJ" Harris)</div> </div> </div> <div class="thumb tright"> <div class="thumbinner" style="width:222px;"><a href="/wiki/File:Reynoldstown1.JPG" class="image"><span class="mw-mf-image-replacement">[Image]</span></a> <div class="thumbcaption"> <div class="magnify"><a href="/wiki/File:Reynoldstown1.JPG" class="internal" title="Enlarge"></a></div> Gateway Park - sculpture (design Brent "BJ" Harris)</div> </div> </div> <div class="thumb tright"> <div class="thumbinner" style="width:222px;"><a href="/wiki/File:Reynoldstown_street_art.JPG" class="image"><span class="mw-mf-image-replacement">[Image]</span></a> <div class="thumbcaption"> <div class="magnify"><a href="/wiki/File:Reynoldstown_street_art.JPG" class="internal" title="Enlarge"></a></div> Street art on Moreland Ave. at Seaboard Ave. in Reynoldstown, June 2012</div> </div> </div> <p><b>Reynoldstown</b> is a <a href="/wiki/Historic_districts_in_the_United_States" title="Historic districts in the United States">historic district</a> and neighborhood on the near <a href="/wiki/Eastside_(Atlanta)" title="Eastside (Atlanta)" class="mw-redirect">east side</a> of <a href="/wiki/Atlanta" title="Atlanta">Atlanta</a>, <a href="/wiki/Georgia_(U.S._state)" title="Georgia (U.S. state)">Georgia</a> located only 2 miles from downtown. The neighborhood is <a href="/wiki/Gentrification" title="Gentrification">gentrifying</a> and attracting new families, empty-nesters, Atlantans opposed of long commutes; as well as diverse culture of first-time homebuyers, single professionals, artist and students due to its close proximity to other nearby intown neighborhoods, high <a href="/wiki/Walkability" title="Walkability">walkability</a> index, urban amenities and nearby bohemian hotspots on Carroll Street in the adjoined-at-the-hip also historic <a href="/wiki/Cabbagetown_(Atlanta)" title="Cabbagetown (Atlanta)" class="mw-redirect">Cabbagetown</a> neighborhood <sup id="cite_ref-1" class="reference"><a href="#cite_note-1">[1]</a></sup> and in other surrounding communities.</p> <p></p>
