{{!outlet 'modal'}}
<div class="content">

    {{#unless isProjectDetail}}
    <div class="navbar main-navbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {{#link-to 'index' tagName='a' class='site-title navbar-brand'}}
          <img class="logo" src="/assets/images/am-logo3.png"/><span class="alt-dark">ATL</span><span>Maps</span>
        {{/link-to}}
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            <li>{{#link-to 'projects' tagName='a'}}Projects{{/link-to}}</li>
            <li>{{#link-to 'about' tagName='a'}}About{{/link-to}}</li>
<!--             <li>{{#link-to 'support' tagName='a'}}Help{{/link-to}}</li>
            <li>{{#link-to 'terms' tagName='a'}}Terms of Use{{/link-to}}</li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{#if session.isAuthenticated}}
              <li><a {{action 'invalidateSession' }} title="Logout">Logout</a></li>
            {{else}}
              <li>{{#link-to 'login' tagName='a'}}Login{{/link-to}}</li>
            {{/if}}
        </ul>
    </div>
</div>
{{/unless}}

    {{outlet}}
  </div>

  {{#unless isProjectDetail}}
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 footer-row">
          <div class="app-name">ATLMaps 1.0</div>
          <div class="app-copyrights">licensed under <a href="https://opensource.org/licenses/MIT">MIT License</a> and <a href="https://creativecommons.org">Creative Commons</a></div>
          <div class="app-copyrights">contributions from Kennesaw State University, Georgia State University, and WABE</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 footer-logo-container footer-row">
          <img src="assets/images/emory_logo.png" class="footer-logo"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 footer-row">
          <div class="app-copyrights">Robert W. Woodruff Library</div>
          <div class="app-copyrights">540 Asbury Cir</div>
          <div class="app-copyrights">Atlanta, GA 30322</div>
        </div>
      </div>
    </div>
  </footer>
  {{/unless}}
