{{! The unless hides the account creation modal after someon is cool enough to log in.}}
{{#unless session.isAuthenticated}}
  {{#if showingLogin}}
    {{#tether-dialog close='toggleShowingLogin' translucentOverlay=true}}
      {{login-form}}
    {{/tether-dialog}}
  {{/if}}
{{/unless}}

<div class="content">
  {{outlet}}
</div>
