{{!outlet 'modal'}}

    {{!-- {{outlet}} --}}

<div class="content">

    {{#unless isProjectDetail}}
        {{ main-nav session='session'}}
    {{/unless}}

    {{outlet}}
</div>

{{#unless isProjectDetail}}
    {{ main-footer }}
{{/unless}}
