<div uk-sticky>
    <nav class="uk-navbar-container" uk-navbar>
       <div class="uk-navbar-left">
        <LinkTo @route="index" class="home uk-margin-left">
          <img src="/assets/images/atl.png" alt="ATLMaps branding - map marker that looks like a peach">
          ATLMaps
        </LinkTo>
        <ul class="uk-navbar-nav uk-visible@m">
          <li>
            <LinkTo @route="projects" class="projects">
              Projects
            </LinkTo>
          </li>
          <li>
            <LinkTo @route="explore" class="explore">
              Explore
            </LinkTo>
          </li>
        </ul>
       </div>
       <div class="uk-navbar-right uk-visible@m">
         <ul class="uk-navbar-nav">
           <li>
             Sign In
           </li>
         </ul>
       </div>
       <div class="uk-navbar-right uk-hidden@s">
         <ul class="uk-navbar-nav">
           <li>
             <a href="#">
               <FaIcon @icon="bars" />
             </a>
             <nav class="uk-navbar-dropdown" mode="click">
               <ul class="uk-nav uk uk-navbar-dropdown-nav">
                <li>
                  <LinkTo @route="projects" class="projects">
                    Projects
                  </LinkTo>
                </li>
                <li>
                  <LinkTo @route="explore" class="explore">
                    Explore
                  </LinkTo>
                </li>
                <li>
                  Sign In
                </li>
              </ul>
             </nav>
           </li>
         </ul>
       </div>
    </nav>
</div>
<div id="main">
  {{outlet}}
</div>