<header class='embed-header'>
  <h1>{{vector.title}}</h1>
</header>
<div id='base-map' class='fullscreen-map'>
  <div id='map' class='atlmap'></div>
  <a href='{{vector.absolute_url}}' target='_blank' title='Open in ATLMaps'><img class='watermark' src='/assets/images/logo-small.png' /></a>
</div>
{{vector-info}}
