{{main-nav}}
<div class='loading'>
  <div class='error'>
    <div><h1>BLESS OUR HEART</h1></div>
    <div>
      Error: <strong><i>{{if flashMessage.message flash.message 'Unknown error.'}}</i></strong>
    </div>
    <div>
      <u>{{#link-to 'flat-page'}}Back Home{{/link-to}}</u>
    </div>
  </div>
</div>
{{outlet}}
