<UkOffcanvas @open={{true}} class="uk-padding-remove-horizontal atlm-search-panel">
  <button class="uk-offcanvas-close" type="button" uk-close></button>
  <MapUi::SearchPanel @model={{this.model}} />
</UkOffcanvas>