{{!-- <div class="hero">
  <div class="hero-content">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo Image" class="hero-logo">
    <h1 class=''>Layers of discovery</h1>
    <h2 class=''>Mapping the stories of your city</h2>
  </div>
</div> --}}
<div class="banner blue valign-wrapper">

  <div class="center-align z-depth-3">
    <h1 class=''>Mapping the stories of your city</h1>
    <p>You  can explore and layer historical maps and data collections from Emory, GSU and other institutions and scholars. Users are encouraged to make connections among the data to gain insight into Atlanta’s history and development. {{#link-to 'explore'}}Explore{{/link-to}} our existing map and data collections or {{#link-to 'login'}}login{{/link-to}} to save and share a project.</p>
    <button>
      {{#if session.isAuthenticated}}
          {{#link-to 'projects' tagName='a' class="white-text" }}Go to Projects{{/link-to}}
      {{else}}
          {{#link-to 'explore' tagName='a' class="white-text" }}
            Start Exploring
          {{/link-to}}

      {{/if}}
    </button>
  </div>

</div>
<div class='featured-cards'>
<div class="cards">
  {{#if model.isPending}}
    <h2>Loading...</h2>
  {{else}}
  {{#each model as |project|}}
  {{project-card project=project}}
  {{/each}}
  {{/if}}
</div>
</div>
