{{liquid-outlet}}
<div class="banner blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
        <div class="jumbotron text-center">
          <h1>Layers of discovery</h1>
          <h2>Mapping the stories of your city</h2>
          {{#if session.isAuthenticated}}
            <p>
              {{#link-to 'projects' tagName='a' class="btn btn-info btn-lg"}}Go to Projects{{/link-to}}
            </p>
          {{else}}
            <p>
              {{#link-to 'explore' tagName='a' class="btn btn-info btn-lg"}}
                Start Exploring
              {{/link-to}}
     <!--          <a class="btn btn-info btn-lg" {{action 'createProject'}}>Start Exploring</a> -->
            </p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner blue blurred">
  <div class="container">
    <article>
      <header class="row">
        <div class="col-md-12">
          <h2>Featured Projects</h2>
        </div>
      </header>
      <hr />

      <div class="list-group col-sm-10 col-sm-offset-1">
       {{ featured-projects}}
      </div>
    </article>
  </div>
</div>
