<div class="uk-panel uk-flex uk-flex-center uk-flex-middle atlm-loading-overlay">
  <div class="uk-child-width-1-1 uk-grid-small uk-text-large uk-text-center" uk-grid>
    <div>
      <FaIcon @icon="spinner" @spin={{true}} />
    </div>
    <div class="uk-text-capitalize">
      loading
    </div>
  </div>
</div>
