{{main-nav}}
<div class='loading'>
  <div class='error'>
    <div>
      <i class="active fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span></div>
    <div>
      <h2>Loading...</h2>
    </div>
  </div>
</div>
