<header class="text-center alt-header">
      <h2>Start collaboraing and explore new layers.</h2>
      <p class="lead">Log in to continue.</p>
    </header>
    <div class="well login-form">
     <form method="post" autocomplete="on" {{action 'authenticate' on='submit'}}  class="form">
        <label for="identification" class="sr-only">Login</label>
        <div class="form-group">
          {{input value=identification placeholder='Email' class="form-control floating-label" type="text" name="email" }}
        </div>
        <label for="password" class="sr-only">Password</label>              
        <div class="form-group">
          {{input value=password placeholder='Password' type='password' class="form-control floating-label" autocomplete="off"}}
        </div>
        <button type="submit" class="btn btn-material-orange btn-block">Login</button>
      </form>
      {{#if errorMessage}} 
    <div class="alert alert-danger"> 
      <strong>Login failed:</strong> {{errorMessage}} 
    </div> 
  {{/if}}
      
    </div>