{{!--<div id="hint"><span class="mdi-navigation-expand-more"></span></div>--}}

<a class="btn btn-fab btn-sm pull-left" style="display:none;" id="show-layer-options"><span class="mdi-action-visibility"></span></a>


<div class="layer-controls">

	{{outlet}}

	
</div>



<div class="row" id="base-map">
    {{ base-map }}
</div>