<div class="banner orange">
  <div class="container">
    <header>
        <h2>Help</h2>
    </header>
  </div>
</div>
<div class="banner orange blurred">
  <div class="container">
    <article>
        <p>You don't need help</p>
    </article>
  </div>
</div>