<div class="banner orange">
  <div class="container">
    <header>
      <h2>Terms of Use and Privacy Policy</h2>
    </header>
  </div>
</div>
<div class="banner orange blurred">
  <div class="container">
    <article>
      <h2>Emory Center for Digital Scholarship (ECDS) Website(s) Privacy Policy and Terms of Use</h2>

        <p>Protecting your privacy is very important to us. We’re telling you about our privacy policy so you know what information we collect, why we collect it and what we do with it. This privacy notice is for ecds.emory.edu and related project sites which will provide a link to this document.</p>

    <h2>Personally Identifiable Information ("PII")</h2>

      <p>Personally identifiable information (PII) refers to information which can be used to distinguish or trace an individual's identity, such as their name, address, date and place of birth, mother's maiden name, social security number, biometric records,
        etc.</p>

      <p>The Emory Center for Digital Scholarship (ECDS), operating ecds.emory.edu and related project sites, does not collect PII unless you choose to provide it. If you create a user account, fill out an online form, or use certain other tools on the website,
        ECDS collects PII. This information is collected in order to provide the services you have requested.</p>

      <p>For example, if you request or express interest in alerts, e-newsletters, or for someone to personally contact you, you will be asked to provide PII so that ECDS can deliver those services. These types of PII could include your name, email address
        or mobile phone number. ECDS only collects the minimum amount of PII necessary in order to deliver the requested service. You can opt out of these communications at any time by following the instructions on the communication.</p>

      <p>ECDS only uses PII to deliver the requested services and for internal purposes, such as monitoring, quality control, and process improvement. ECDS does not sell PII entered into ecds.emory.edu and/or related project sites. PII provided to ECDS through
        ecds.emory.edu and/or related project sites will be protected by this policy (or subsequent privacy policies) for as long as it is retained.</p>

      <h2>Other Types of Information We Collect</h2>

      <p>ECDS automatically collects other limited information from visitors who read, browse and/or download information from ecds.emory.edu and/or related project sites. This information is not PII. For example, when you browse ecds.emory.edu and/or related
        project sites, we, and in some cases our third-party service providers, can collect the following types of information about your visit, including:</p>

      <ul>
        <li>Domain (for example, comcast.com, if you are using a Comcast account) from which you accessed the Internet</li>

        <li>IP address (an IP or internet protocol address is a number that is automatically assigned to a device connected to the Web).</li>

        <li>Operating system (which is software that directs a computer’s basic functions such as executing programs and managing storage) for the device that you are using and information about the browser you used when visiting the site</li>

        <li>Date and time of your visit</li>

        <li>Pages you visited</li>

        <li>Address of the website that connected you to ecds.emory.edu and/or related project sites (such as google.com or bing.com)</li>

        <li>Device type (desktop computer, tablet, or type of mobile device)</li>

        <li>Screen resolution</li>

        <li>Browser language</li>

        <li>Geographic location</li>

        <li>Time spent on page</li>

        <li>Scroll depth – The measure of how much of a web page was viewed</li>

        <li>User events (e.g. clicking a button)</li>
      </ul>

      <p>We use this information to measure the number of visitors to our site and its various sections, to help make our site more useful to visitors and to improve our public education and outreach.</p>

      <h2>Using Third-Party Tools for Website Analytics</h2>

      <p>ECDS uses a variety of third-party tools to collect basic information about visits to ecds.emory.edu and/or related project sites. This information is then used to analyze use of ecds.emory.edu and/or related project sites and to maintain the website
        including: monitoring site stability, measuring site traffic, optimizing site content and may help make the site more useful to visitors.</p>

      <p>The ECDS staff analyzes the data collected from these tools. The reports are available only to ECDS managers, teams who implement digital marketing programs, members of the ECDS communications and web teams and other designated staff and contractors
        who need this information to perform their duties.</p>

      <h2>How ECDS Uses Cookies & Other Technology on ecds.emory.edu and/or related project sites</h2>

      <p>When you visit a website, its server may generate a piece of text known as a "cookie" to place on your device. The cookie, which is unique to your browser, allows the server to "remember" specific information about your visit while you are connected.
        The cookie makes it easier for you to use the dynamic features of Web pages.</p>

      <p>Any PII that you enter into the online forms on ecds.emory.edu and/or related project sites is not associated with cookies on ecds.emory.edu and/or related project sites.</p>

      <p>There are two types of cookies: single session (temporary) and multi-session (persistent). Single session cookies last only as long as your Web browser is open. Once you close your browser, the session cookie disappears. Persistent cookies are stored
        on your device for longer periods. Both types of cookies create an ID that is unique to your device.</p>

      <p>Session Cookies. We use session cookies for technical purposes such as to allow better navigation through our site. These cookies let our server know that you are continuing a visit to our site.</p>

      <p>Persistent Cookies. We use persistent cookies to understand the differences between new and returning visitors to ecds.emory.edu and/or related project sites and to save user preferences.</p>

      <p>Persistent cookies remain on your device between visits to our site until they expire or are removed by the user. We do not use persistent cookies to collect personally identifiable information. ECDS does not identify a user by using such technologies.</p>

      <h2>Links to Other Sites</h2>

      <p>Ecds.emory.edu and/or related project sites may link to other websites. We link to other websites solely for your convenience and education. When you follow a link to an external site, you are leaving ecds.emory.edu and/or related project sites
        and are subject to the external site’s privacy and security policies.</p>

      <p>ECDS uses Social Media Sites in order to increase transparency, enhance information sharing, promote patient engagement and encourage collaboration.</p>

      <p>ECDS does not own, manage or control Social Media Sites. In addition, ECDS does not collect, maintain or disseminate information posted by visitors to those sites. If you choose to provide information to a Social Media Site through registration
        or other interaction with the site, the use of any information you provide is controlled by your relationship with the Social Media Site. For example, any information that you provide to register on Facebook is voluntarily contributed and is not
        maintained by ECDS. This information may be available to ECDS Social Media Page Administrators in whole or part, based on a user's privacy settings on the Social Media Site. Although you may voluntarily contribute to a Social Media Site with the
        intent to share the information with others on a ECDS Social Media Page, to protect your privacy, please do not disclose personally identifiable information about yourself or others on these sites. ECDS will not disclose any PII you provide to
        ecds.emory.edu and/or related project sites to Social Media Sites.</p>

      <p>ECDS does not keep separate records or accounting of any Social Media Site users or their interaction with the ecds.emory.edu and/or related project sites pages on Social Media Sites. ECDS does not store or share this information. User information
        is retained by Social Media Sites in accordance with the Site’s policies. See each Social Media Site’s privacy policy to see how long user information is retained after an account has been deleted. Social Media Site users can learn more about
        how their information is used and maintained by each Social Media Site by visiting their privacy policy.</p>

      <h2>Security</h2>

      <p>ECDS uses appropriate security safeguards to guard against risks such as loss, unauthorized access or use, destruction, modification, or unintended or inappropriate disclosure of PII. Emory has been assured that third-parties that may receive your
        PII, as described above, likewise use appropriate security safeguards to guard against risks such as loss, unauthorized access or use, destruction, modification, or unintended or inappropriate disclosure of PII.</p>

      <h2>Terms of Use</h2>

      <p>You agree that you will not submit any false information or any illegal or damaging content to our website. We reserve the right to terminate access to or the ability to interact with our website in response to any concerns we may have about false,
        illegal, or damaging content, or for any other reason, in our sole discretion.</p>

      <h2>Additional Terms and Policies</h2>

      <p>Please note that specific web pages maintained by ECDS may have additional terms and policies applicable to their use.</p>

      <h2>Revisions to this Policy</h2>

      <p>ECDS reserves the right to update this policy at any time. The most up to date version of this policy will always be available on our website. Any updates or other changes to this policy will apply retroactively to any information earlier submitted
        to us.</p>
    </article>
  </div>
</div>
