<div class="banner orange">
  <div class="container">
    <header>
        <h2>Terms of Use</h2>
    </header>
  </div>
</div>
<div class="banner orange blurred">
  <div class="container">
    <article>
        <p>This is allowed. We got it covered.</p>
    </article>
  </div>
</div>